<app-bettercustom-dual 
  [mediaType]="'video'" 
  [title]="'JARDÍN SECRETO'"
  [contentTestimonial]="'Lorem ipsum dolor sit amet..asdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd'" 
  [videoSrc]="'https://cddrmboopihkiuyomxle.supabase.co/storage/v1/object/public/aldana-app/multimedia/novias%20compressed.mp4'"
  [videoAutoplay]="true" 
  [videoMuted]="true" 
  [videoShowControls]="true" 
  [videoGradientOverlay]="false"
  [videoObjectFit]="'object-cover'" 
  [imageWidth]="'64%'" 
  [textWidth]="'36%'" 
  [mobileOrder]="'image-first'"
  [desktopOrder]="'text-first'" 
  [height]="' h-auto md:h-[450px]'" 
  [mobileHeight]="'auto'" 
  [maxwidthandpadding]="'py-0'"
  [textextracontetclass]="'text-center'"
  [textcontetclass]="'text-center md:text-center'"
  [titleAndContentClass]="'text-center uppercase'"
  />

<div class="px-4 sm:px-6 lg:px-12 xl:px-16 2xl:px-24 w-full">
  <div class="max-w-screen-3xl mx-auto">
    <div class="py-10 md:py-16">
      <div class="mb-8 w-full h-auto flex items-end justify-between flex-wrap gap-4">
        <div class="flex gap-2 items-end">
          <h1 class="flex gap-2 items-end text-xl sm:text-3xl titles md:text-3xl font-bold tracking-tight">
            NOVIAS
            <span class="text-lg sm:text-lg titles md:text-xl font-bold">-</span>
            <span class="font-light text-gray-600 uppercase">JARDÍN SECRETO</span>
          </h1>
          <p class="text-sm mb-1 sm:mb-0 sm:text-lg font-main text-gray-500 uppercase mt-2 tracking-widest font-main">
            - COLECCIÓN 2025
          </p>
        </div>
      </div>
      <div class="mb-10">
        <h2 class="text-md titles sm:text-lg text-gray-800 mb-4 tracking-widest">
          {{ titulos[0].title }}
        </h2>
        <app-gallery-gen-com [media]="images" (mediaClicked)="onMediaClick($event)"></app-gallery-gen-com>
      </div>
      <div class="mb-10">
        <h2 class="text-md titles sm:text-lg text-gray-800 mb-4 tracking-widest">
          {{ titulos[1].title }}
        </h2>
        <app-gallery-gen-com [media]="images2" (mediaClicked)="onMediaClick($event)"></app-gallery-gen-com>
      </div>
      <div class="mb-10">
        <h2 class="text-md titles sm:text-lg text-gray-800 mb-4 tracking-widest">
          {{ titulos[2].title}}
        </h2>
        <app-gallery-gen-com [media]="images3" (mediaClicked)="onMediaClick($event)"></app-gallery-gen-com>
      </div>
      <div class="mb-10">
        <h2 class="text-md titles sm:text-lg text-gray-800 mb-4 tracking-widest">
          {{ titulos[3].title}}
        </h2>
        <app-gallery-gen-com [media]="images4" (mediaClicked)="onMediaClick($event)"></app-gallery-gen-com>
      </div>
      <div class="mb-10">
        <h2 class="text-md titles sm:text-lg text-gray-800 mb-4 tracking-widest">
          {{ titulos[4].title}}
        </h2>
        <app-gallery-gen-com [media]="images5" (mediaClicked)="onMediaClick($event)"></app-gallery-gen-com>
      </div>
    </div>

  </div>
</div>