<header class="relative z-[999]">
  <app-navbar-publicv3></app-navbar-publicv3>
</header>
<div id="smooth-wrapper" class="relative z-1">
  <div id="smooth-content">
    <div class="h-[72px] bg-aldy-white lg:h-[80px]"></div>
    <div class="min-h-screen w-full bg-aldy-white">
      <div #panelContainer class="flex min-h-screen relative items-start">
        <aside #panelAside
          class="flex flex-col w-[260px] shrink-0 bg-aldy-white border-r border-[#e0d8cf] z-20 self-start h-[calc(100vh-72px)] lg:h-[calc(100vh-80px)]">
          <div class="px-8 flex items-center justify-center pt-10 pb-8">
            <img [draggable]="false" src="../../../assets/svg/logo-4.svg" alt="Aldana Vilcabana"
              class="w-35 h-full object-contain">
          </div>

          <nav class="flex flex-col px-4 gap-2">
            @for (item of navItems; track item.route) {
            <a [routerLink]="item.route"
              (click)="activeSection = item.route"
              [class.bg-[#EAE8DF]]="activeSection === item.route"
              [class.text-aldy-green-gray-bold]="activeSection === item.route"
              [class.font-normal]="activeSection === item.route"
              [class.text-[#5F5C5A]]="activeSection !== item.route"
              [class.font-light]="activeSection !== item.route"
              class="group flex items-center justify-start gap-3 px-4 py-3.5 text-[11px] tracking-[0.2em] uppercase NewAldyTitle hover:bg-[#EAE8DF] hover:text-aldy-green-gray transition-colors duration-200 cursor-pointer">

              <lucide-icon [size]="17" [strokeWidth]="1.5" [name]="item.icon"
                [class.text-aldy-green-gray-bold]="activeSection === item.route"
                [class.text-[#5F5C5A]]="activeSection !== item.route"
                class="shrink-0 group-hover:text-aldy-green-gray transition-colors duration-200">
              </lucide-icon>

              <span class="leading-none">
                {{ item.title }}
              </span>

            </a>
            }
          </nav>

          <div class="mt-4 mb-4 px-4">
            <button (click)="onSignOut()"
              class="group w-full flex items-center justify-start gap-3 px-4 py-3.5 text-[#5F5C5A] text-[11px] tracking-[0.2em] uppercase NewAldyTitle font-light hover:bg-[#EAE8DF] hover:text-aldy-green-gray transition-colors duration-200 cursor-pointer">

              <lucide-icon [size]="17" [strokeWidth]="1.5" name="log-out"
                class="shrink-0 text-[#5F5C5A] group-hover:text-aldy-green-gray transition-colors duration-200">
              </lucide-icon>

              <span class="leading-none">
                Cerrar Sesión
              </span>

            </button>
          </div>

          <div class="mt-auto pb-8 text-center">
            <span class="text-[#c4b8a8] text-base tracking-widest select-none">˜ ˜ ˜</span>
          </div>

        </aside>

        <div class="flex-1 flex flex-col min-h-screen">
          <div class="relative w-full h-65 flex items-center justify-center overflow-hidden shrink-0">
            <img class="absolute inset-0 w-full h-full object-cover brightness-70 object-[65%_22%]"
              src="../../../assets/images/others/perfil_user.jpg" alt="wardrobe">
            <div class="absolute inset-0 bg-black/20"></div>
            <h1
              class="relative text-3xl sm:text-5xl NewAldyTitle tracking-[0.3em] uppercase text-white font-light z-10">
              Mi cuenta
            </h1>
          </div>
          <main class="flex-1 bg-aldy-white relative px-8 py-10 min-h-[400px]">
            @if (isLoading) {
            <div class="loading-overlay">
              <div class="spinner"></div>
            </div>
            }
            <router-outlet></router-outlet>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>