<div
  class="min-h-[91vh] h-full w-full flex flex-col md:flex-row justify-center gap-6"
>
  <div class="w-full md:w-2xl justify-center flex">
    <div class="relative w-full p-4 md:p-8">
      <div class="space-y-6">
        <div [formGroup]="form" class="space-y-6">
          <div>
            <h2
              class="text-md NewAldyTitle tracking-widest text-aldy-green-gray-bold font-light uppercase mb-2"
            >
              Datos de contacto
            </h2>
            <app-input label="Email" formControlName="email"></app-input>
            <div
              *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
              class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
            >
              <div *ngIf="form.get('email')?.errors?.['required']">
                El email es obligatorio.
              </div>
              <div *ngIf="form.get('email')?.errors?.['email']">
                Ingresá un email válido.
              </div>
            </div>
            <label class="flex items-center mt-2">
              <input
                type="checkbox"
                class="mr-2"
                AldyCheckboxV1
                formControlName="receiveOffers"
              />
              <span
                class="text-sm NewAldyFontType4 relative top-[1px] tracking-wider text-aldy-green-gray"
              >
                Quiero recibir ofertas y novedades por e-mail</span
              >
            </label>
          </div>
          <div *ngIf="!showForm">
            <h2
              class="text-md NewAldyTitle tracking-widest text-aldy-green-gray-bold font-light uppercase mb-2"
            >
              Entrega
            </h2>
            <div class="relative">
              <app-input
                label="Código postal"
                formControlName="zipCode"
              ></app-input>
              <a
                href="https://www.oca.com.ar/Busquedas/CodigosPostales"
                target="_blank"
                class="absolute top-3 right-4 text-xs NewAldyFontType4 tracking-wider text-aldy-green-gray"
              >
                No sé mi CP
              </a>
            </div>
            <div
              *ngIf="
                form.get('zipCode')?.touched && form.get('zipCode')?.invalid
              "
              class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
            >
              <ng-container *ngIf="form.get('zipCode')?.errors?.['required']">
                El código postal es obligatorio.
              </ng-container>
              <ng-container
                *ngIf="form.get('zipCode')?.errors?.['invalidPostalCode']"
              >
                Código postal inválido. Por favor, ingresá un código postal
                válido.
              </ng-container>
            </div>
            <button
              class="mt-4 px-5 py-2 bg-aldy-medium cursor-pointer text-white NewAldyFontType4 text-sm tracking-wider hover:bg-aldy-medium-2 transition-colors duration-500 ease-in-out"
              (click)="continue()"
            >
              Continuar
            </button>
          </div>
        </div>
      </div>
      <form
        *ngIf="showForm"
        [formGroup]="form"
        (ngSubmit)="submitForm()"
        class="space-y-6 mt-10"
      >
        <div>
          <div class="flex justify-between items-center mb-4">
            <h2
              class="text-md NewAldyTitle tracking-widest text-aldy-green-gray-bold font-light uppercase"
            >
              {{ showAllOptions ? "Envío a domicilio" : "Envío" }}
            </h2>
            <button
              type="button"
              class="text-xs cursor-pointer NewAldyFontType4 tracking-wider text-aldy-green-gray"
              (click)="changeZipCode()"
            >
              Cambiar mi ZIP
            </button>
          </div>
          <div class="space-y-4">
            <ng-container *ngIf="!showAllOptions && selected">
              <div
                class="flex justify-between p-4 rounded cursor-pointer"
                (click)="select(selected)"
              >
                <div class="flex items-start gap-3">
                  <input
                    type="checkbox"
                    class="mt-1 radioAldy"
                    [checked]="true"
                    readonly
                  />
                  <div>
                    <p
                      class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray"
                    >
                      {{
                        selected === "estandar"
                          ? "Correo Argentino - Envío estándar"
                          : selected === "expres"
                          ? "Correo Argentino - Envío exprés"
                          : "Punto de retiro"
                      }}
                    </p>
                    <p
                      class="text-xs NewAldyFontType4 tracking-wider text-aldy-green-gray"
                    >
                      {{
                        selected === "estandar"
                          ? "Llega en 5-6 días hábiles"
                          : selected === "expres"
                          ? "Llega en 1-2 días hábiles"
                          : "Retirás entre viernes y lunes"
                      }}
                    </p>
                  </div>
                </div>
              </div>
            </ng-container>
            <div *ngIf="showAllOptions" [@toggleOptions]>
              <div
                class="flex justify-between items-center p-4 rounded cursor-pointer"
                (click)="select('estandar')"
              >
                <div class="flex items-center gap-3">
                  <input
                    type="radio"
                    class="radioAldy"
                    [checked]="selected === 'estandar'"
                    readonly
                  />
                  <div>
                    <p
                      class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray"
                    >
                      Correo Argentino - Envío estándar
                    </p>
                    <p
                      class="text-xs NewAldyFontType4 tracking-wider text-aldy-green-gray"
                    >
                      Llega en 5-6 días hábiles
                    </p>
                  </div>
                </div>
                <div class="flex flex-col items-end">
                  <span
                    class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray"
                    >Gratis</span
                  >
                  <span
                    class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray line-through mt-1"
                    >$1500</span
                  >
                </div>
              </div>
              <div
                class="flex justify-between items-center p-4 rounded cursor-pointer"
                (click)="select('expres')"
              >
                <div class="flex items-center gap-3">
                  <input
                    type="radio"
                    class="radioAldy"
                    [checked]="selected === 'expres'"
                    readonly
                  />
                  <div>
                    <p
                      class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray"
                    >
                      Correo Argentino - Envío exprés
                    </p>
                    <p
                      class="text-xs NewAldyFontType4 tracking-wider text-aldy-green-gray"
                    >
                      Llega en 1-2 días hábiles
                    </p>
                  </div>
                </div>
                <div class="flex flex-col items-end">
                  <span
                    class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray"
                    >$3000</span
                  >
                  <span
                    class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray line-through mt-1"
                    >$5000</span
                  >
                </div>
              </div>
              <div class="border-b border-aldy-medium pt-6 pb-2 mt-6 mb-4">
                <h3
                  class="text-md NewAldyTitle tracking-widest text-aldy-green-gray-bold font-light uppercase"
                >
                  Retirar por
                </h3>
              </div>
              <div
                class="flex justify-between items-center p-4 rounded cursor-pointer"
                (click)="select('retiro')"
              >
                <div class="flex items-center gap-3">
                  <input
                    type="radio"
                    class="radioAldy"
                    [checked]="selected === 'retiro'"
                    readonly
                  />
                  <div>
                    <p
                      class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray"
                    >
                      Punto de retiro
                    </p>
                    <p
                      class="text-xs NewAldyFontType4 tracking-wider text-aldy-green-gray"
                    >
                      Retirás entre viernes y lunes
                    </p>
                  </div>
                </div>
                <div class="flex flex-col items-end">
                  <span
                    class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray"
                    >Gratis</span
                  >
                  <span
                    class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray line-through mt-1"
                    >$3000</span
                  >
                </div>
              </div>
            </div>
            <div *ngIf="selected === 'retiro'" class="mt-4">
              <app-selects
                formControlName="city"
                [options]="ciudades"
                optionLabel="name"
                label="Ciudad"
                placeholder="Seleccionar ciudad"
                id="ciudad"
              >
              </app-selects>
              <p
                class="text-xs NewAldyFontType4 tracking-wider text-aldy-green-gray mt-2"
              >
                Lunes a viernes, de 11:00 a 18:00
              </p>
            </div>
            <div class="flex justify-center w-full h-auto">
              <button
                type="button"
                class="mt-4 cursor-pointer text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray"
                (click)="toggleAllOptions()"
              >
                {{
                  showAllOptions ? "Ocultar opciones" : "Ver todas las opciones"
                }}
              </button>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-6">
          <h2
            class="text-md NewAldyTitle tracking-widest text-aldy-green-gray-bold font-light uppercase"
          >
            Datos de facturación
          </h2>
          <label class="flex items-center space-x-2">
            <input
              type="checkbox"
              AldyCheckboxV1
              formControlName="invoiceToCompany"
            />
            <span
              class="text-sm NewAldyFontType4 cursor-pointer relative top-[1px] tracking-wider text-aldy-green-gray"
              >Necesito factura A</span
            >
          </label>
          <div *ngIf="!form.get('invoiceToCompany')?.value">
            <app-input
              label="DNI o CUIT"
              formControlName="hasDniCuit"
              inputmode="numeric"
              [numericMax11]="true"
            >
            </app-input>

            <div
              *ngIf="
                form.get('hasDniCuit')?.touched &&
                form.get('hasDniCuit')?.invalid
              "
              class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
            >
              <ng-container
                *ngIf="form.get('hasDniCuit')?.errors?.['required']"
              >
                El DNI o CUIT es obligatorio.
              </ng-container>
              <ng-container
                *ngIf="form.get('hasDniCuit')?.errors?.['invalidDni']"
              >
                El DNI no es válido. Debe tener entre 7 y 8 dígitos.
              </ng-container>
              <ng-container
                *ngIf="form.get('hasDniCuit')?.errors?.['invalidCuit']"
              >
                El CUIT no es válido. Verificá que sea correcto.
              </ng-container>
              <ng-container
                *ngIf="form.get('hasDniCuit')?.errors?.['invalidDniCuit']"
              >
                Debe ingresar un DNI (7-8 dígitos) o un CUIT (11 dígitos).
              </ng-container>
            </div>
          </div>
          <div
            *ngIf="form.get('invoiceToCompany')?.value"
            class="grid grid-cols-2 gap-4"
          >
            <div>
              <app-input
                label="CUIT"
                formControlName="cuit"
                inputmode="numeric"
                [numericMax11]="true"
              >
              </app-input>
              <div
                *ngIf="form.get('cuit')?.touched && form.get('cuit')?.invalid"
                class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
              >
                <ng-container *ngIf="form.get('cuit')?.errors?.['required']">
                  El CUIT es obligatorio.
                </ng-container>
                <ng-container
                  *ngIf="form.get('cuit')?.errors?.['pattern'] || form.get('cuit')?.errors?.['invalidCuit']"
                >
                  El CUIT debe tener 11 dígitos válidos.
                </ng-container>
              </div>
            </div>
            <div>
              <app-input label="Razón social" formControlName="socialReason">
              </app-input>
              <div
                *ngIf="
                  form.get('socialReason')?.touched &&
                  form.get('socialReason')?.invalid
                "
                class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
              >
                La razón social es obligatoria.
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div>
              <app-input label="Nombre" formControlName="name"></app-input>
              <div
                *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
                class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
              >
                El nombre es obligatorio.
              </div>
            </div>
            <div>
              <app-input label="Apellido" formControlName="surname"></app-input>
              <div
                *ngIf="
                  form.get('surname')?.invalid && form.get('surname')?.touched
                "
                class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
              >
                El apellido es obligatorio.
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div>
              <app-input label="Teléfono" formControlName="phone"></app-input>
              <div
                *ngIf="
                  form.get('phone')?.hasError('required') &&
                  form.get('phone')?.touched
                "
                class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
              >
                El teléfono es obligatorio.
              </div>
              <div
                *ngIf="
                  form.get('phone')?.hasError('invalidPhone') &&
                  form.get('phone')?.touched
                "
                class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
              >
                Ingresá un teléfono válido de Argentina.
              </div>
            </div>
            <app-input
              *ngIf="showForm"
              label="Código Postal ingresado"
              formControlName="zipCodeDisplay"
            >
            </app-input>
          </div>
          <div class="space-y-4">
            <label class="flex items-center space-x-2">
              <input
                type="checkbox"
                formControlName="otherPerson"
                AldyCheckboxV1
              />
              <span
                class="text-sm NewAldyFontType4 cursor-pointer relative top-[1px] tracking-wider text-aldy-green-gray"
                >Otra persona va a retirar el pedido</span
              >
            </label>
            <div *ngIf="isAnotherPerson" class="grid grid-cols-2 gap-4">
              <div>
                <app-input
                  label="Nombre"
                  formControlName="otherPersonName"
                ></app-input>
                <div
                  *ngIf="
                    form.get('otherPersonName')?.invalid &&
                    form.get('otherPersonName')?.touched
                  "
                  class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
                >
                  El nombre de la persona que retira es obligatorio.
                </div>
              </div>
              <div>
                <app-input
                  label="Apellido"
                  formControlName="otherPersonSurname"
                ></app-input>
                <div
                  *ngIf="
                    form.get('otherPersonSurname')?.invalid &&
                    form.get('otherPersonSurname')?.touched
                  "
                  class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
                >
                  El apellido de la persona que retira es obligatorio.
                </div>
              </div>
            </div>
          </div>
          <div>
            <app-input label="Calle" formControlName="street"></app-input>
            <div
              *ngIf="form.get('street')?.invalid && form.get('street')?.touched"
              class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
            >
              La calle es obligatoria.
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div>
              <app-input
                label="Número"
                formControlName="streetNumber"
              ></app-input>
              <div
                *ngIf="
                  form.get('streetNumber')?.invalid &&
                  form.get('streetNumber')?.touched
                "
                class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
              >
                El número es obligatorio.
              </div>
            </div>
            <app-input
              label="Departamento (opcional)"
              formControlName="apartment"
            ></app-input>
          </div>
          <div>
            <app-selects
              formControlName="province"
              [options]="provinces"
              optionLabel="name"
              label="Provincia"
              placeholder="Seleccionar provincia"
              id="provincia"
            >
            </app-selects>
            <div
              *ngIf="
                form.get('province')?.invalid && form.get('province')?.touched
              "
              class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
            >
              La provincia es obligatoria.
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div>
              <app-selects
                formControlName="city"
                [options]="ciudades"
                optionLabel="name"
                label="Ciudad"
                placeholder="Seleccionar ciudad"
                id="ciudad"
              >
              </app-selects>
              <div
                *ngIf="form.get('city')?.invalid && form.get('city')?.touched"
                class="text-red-400 text-xs NewAldyFontType4 tracking-wider mt-1"
              >
                La ciudad es obligatoria.
              </div>
            </div>
            <app-input
              labe-l="Barrio (opcional)"
              formControlName="neighborhood"
            ></app-input>
          </div>
        </div>
        <button
          type="submit"
          class="w-full px-5 py-2 bg-aldy-medium cursor-pointer text-white NewAldyFontType4 text-sm tracking-wider hover:bg-aldy-medium-2 transition-colors duration-500 ease-in-out"
        >
          Continuar
        </button>
      </form>
    </div>
  </div>
  <div class="w-full md:w-1/4 p-3 py-5 bg-aldy-white">
    <div *ngFor="let item of cartItems" class="flex gap-3 sm:gap-4 w-full mb-4">
      <img
        draggable="false"
        [src]="item.variantMainImage || item.image"
        alt="Producto"
        class="w-20 min-w-[80px] max-w-[80px] h-full object-cover"
      />
      <div class="flex flex-col justify-between w-full">
        <div>
          <h3
            class="text-md NewAldyTitle tracking-widest text-aldy-green-gray-bold font-light uppercase"
          >
            {{ item.name }} x{{ item.quantity }}
          </h3>
          <p
            *ngIf="item.color"
            class="text-[11px] sm:text-sm text-aldy-green-gray NewAldyFontType4 mt-1 flex items-center gap-2"
          >
            Color:
            <span
              class="inline-block w-3 h-3 rounded-xs ring-2 ring-aldy-green-gray"
              [ngStyle]="{ 'background-color': item.color }"
            ></span>
          </p>
          <p
            *ngIf="item.size"
            class="text-[11px] sm:text-sm text-aldy-green-gray flex items-center gap-2 NewAldyFontType4 mt-1"
          >
            Talla:
            <span
              class="bg-gray-100 px-2 py-0.5 text-[10px] NewAldyFontType4"
              >{{ item.size }}</span
            >
          </p>
        </div>
        <div class="mt-2">
          <ng-container *ngIf="discountCodeApplied; else regularPrice">
            <span
              class="line-through text-aldy-green-gray NewAldyFontType4 text-xs"
            >
              {{
                item.price * item.quantity
                  | currency : "ARS" : "symbol-narrow" : "1.2-2" : "es-AR"
              }}
            </span>
            <span
              class="text-aldy-green-gray text-xs font-light NewAldyFontType4 ml-2"
            >
              {{
                item.price * item.quantity -
                  (item.price * item.quantity * appliedDiscount) / subtotal
                  | currency : "ARS" : "symbol-narrow" : "1.2-2" : "es-AR"
              }}
            </span>
          </ng-container>
          <ng-template #regularPrice>
            <h3
              class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray"
            >
              {{
                item.price * item.quantity
                  | currency : "ARS" : "symbol-narrow" : "1.2-2" : "es-AR"
              }}
            </h3>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="pt-4 mt-6 border-t border-aldy-medium text-sm space-y-1">
      <div class="flex justify-between">
        <span
          class="text-xs uppercase NewAldyFontType4 tracking-wider text-aldy-green-gray"
          >Subtotal</span
        >
        <span
          class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray"
          >{{
            subtotal | currency : "ARS" : "symbol-narrow" : "1.2-2" : "es-AR"
          }}</span
        >
      </div>
      <div class="flex justify-between">
        <span
          class="text-xs uppercase NewAldyFontType4 tracking-wider text-aldy-green-gray"
        >
          Envío
        </span>

        <span
          class="text-sm NewAldyFontType4 tracking-wider text-aldy-green-gray"
        >
          {{
            shippingCost === 0
              ? "Gratis"
              : (shippingCost
                | currency : "ARS" : "symbol-narrow" : "1.2-2" : "es-AR")
          }}
        </span>
      </div>

      <div class="flex justify-between font-light text-base pt-2">
        <span
          class="text-sm uppercase NewAldyFontType4 tracking-wider text-aldy-green-gray"
          >Total</span
        >
        <span
          class="text-sm NewAldyFontType4 relative top-[1px] tracking-wider text-aldy-green-gray"
        >
          {{
            subtotal - appliedDiscount + shippingCost
              | currency : "ARS" : "symbol-narrow" : "1.2-2" : "es-AR"
          }}
        </span>
      </div>
      <div *ngIf="discountCodeApplied" class="mt-2 text-sm text-green-700">
        Código de descuento aplicado: <strong>{{ discountCodeApplied }}</strong>
      </div>
    </div>
    <div [formGroup]="form" class="mt-6" *ngIf="!discountCodeApplied">
      <label
        class="flex items-center gap-2 text-sm NewAldyFontType4 cursor-pointer relative top-[1px] tracking-wider text-aldy-green-gray"
      >
        <input type="checkbox" formControlName="hasCupon" AldyCheckboxV1 />
        ¿Tienes un cupón o crédito?
      </label>

      <div *ngIf="form.get('hasCupon')?.value" class="relative mt-6">
        <div class="relative">
          <input
            type="text"
            placeholder=" "
            formControlName="discountCode"
            [ngClass]="{
              'border-red-400 text-red-400 focus:border-red-400': discountError,
              'border-aldy-medium focus:border-aldy-medium':
                !discountError && !form.get('discountCode')?.disabled,
              'bg-aldy-white text-aldy-green-gray':
                form.get('discountCode')?.disabled
            }"
            class="peer block w-full border-b-1 px-2.5 pt-4 pb-2.5 text-sm bg-transparent appearance-none focus:outline-none focus:ring-0 transition-all duration-300 ease-in-out"
          />
          <label
            [ngClass]="{
              'text-red-400 peer-focus:text-red-400': discountError,
              'text-aldy-green-gray peer-disabled:text-aldy-green-gray':
                form.get('discountCode')?.disabled,
              'text-aldy-green-gray-bold peer-focus:text-aldy-medium':
                !discountError && !form.get('discountCode')?.disabled
            }"
            class="pointer-events-none NewAldyFontType4 absolute start-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-aldy-white tracking-wider px-2 text-sm transition-all duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75"
          >
            Ingrese su código de descuento
          </label>
          <span
            class="absolute right-3 top-3 cursor-pointer"
            (click)="applyDiscountCode()"
            [ngClass]="{
              'text-red-400': discountError,
              'text-aldy-green-gray': !discountError
            }"
          >
            <i class="fas fa-chevron-right font-light"></i>
          </span>
        </div>
        <div
          *ngIf="discountError"
          class="mt-1 text-red-400 text-xs NewAldyFontType4 tracking-wider"
        >
          {{ discountError }}
        </div>
      </div>
    </div>
  </div>
</div>
