<div class="flex flex-col md:flex-row justify-center gap-6">
  <div class="w-full md:w-2xl justify-center flex">
    <div class="relative w-full p-4 md:p-8">
      <div class="space-y-6">
        <!-- Datos de envío y facturación -->
        <section class="border-b py-4 flex justify-between items-start">
          <div class="flex items-start gap-4">
            <i class="fa-regular fa-envelope text-gray-500 mt-1"></i>
            <div>
              <p class="text-sm text-gray-800 font-medium">{{ shippingData?.email }}</p>
            </div>
          </div>
        </section>
        <section class="border-b py-4 flex justify-between items-start">
          <div class="flex items-start gap-4">
            <i class="fa-solid fa-box text-gray-500 mt-1"></i>
            <div>
              <p class="font-semibold text-gray-900">
                Retiras en correo argentino -
                <span class="text-green-600 font-semibold">Gratis</span>
              </p>
              <p class="text-gray-600 text-sm">Correo arg 123 Ciudad Autónoma de Buenos Aires.</p>
            </div>
          </div>
          <button pButton label="Cambiar" text class="text-blue-600 text-xs hover:underline"
            (click)="onChangePickupPoint()">
            Cambiar
          </button>
        </section>
        <section class="border-b py-4 flex justify-between items-start">
          <div class="flex items-start gap-4">
            <i class="fa-regular fa-user text-gray-500 mt-1"></i>
            <div>
              <p class="font-semibold text-gray-900">Datos de cobranza</p>
              <p class="text-gray-700">{{ shippingData?.name }} {{ shippingData?.surname }}</p>
              <p class="text-gray-700">{{ shippingData?.address }}</p>
              <p class="text-gray-700">
                CP {{ shippingData?.zipCode }}
                <span *ngIf="shippingData?.neighborhood"> - {{ shippingData?.neighborhood }}</span>
              </p>
              <p class="text-gray-700">
                {{ shippingData?.city }}, {{ shippingData?.province}} - {{ shippingData?.phone }}
              </p>
              <p class="mt-4 font-semibold text-gray-900">Persona que retirará el pedido</p>
              <p class="text-gray-700">{{ shippingData?.name }} {{ shippingData?.surname }}</p>
            </div>
          </div>
          <button pButton label="Cambiar" text class="text-blue-600 text-xs hover:underline"
            (click)="onChangeBillingData()">
            Cambiar
          </button>
        </section>
        <section class="border-b py-4 flex justify-between items-center">
          <div class="flex items-center gap-2 text-gray-500">
            <i class="fa-regular fa-comment"></i>
            <span>Notas de pedido</span>
          </div>
          <button appButtonPrimary class="text-blue-600 p-2 text-xs hover:underline">
            Agregar
          </button>
        </section>

        <!-- Medio de pago: acordeón -->
        <section class="space-y-4 mt-6">
          <h4 class="text-sm font-semibold text-gray-900 mb-2">Medio de pago</h4>
          <div class="card flex justify-center">
            <p-accordion
              [multiple]="true"
              [(activeIndex)]="activeAccordionPanels"
              class="w-full space-y-4"
            >
              <!-- Tarjeta de crédito o débito -->
              <p-accordion-panel [value]="0">
                <p-accordion-header>
                  <div class="w-full flex px-4 justify-between items-center">
                    <div class="flex items-center gap-2">
                      <i class="fa-solid fa-credit-card"></i>
                      <span>Tarjeta de crédito o débito</span>
                    </div>
                    <p-chip>
                      <span class="font-medium text-white text-xs">Hasta 6 cuotas sin interés</span>
                    </p-chip>
                  </div>
                </p-accordion-header>
                <p-accordion-content>
                 <div class="w-full flex px-4 justify-between items-center">
      <div class="flex items-center gap-2">
        <i class="fa-solid fa-credit-card"></i>
        <span>Tarjeta de crédito o débito</span>
      </div>
      <p-chip>
        <span class="font-medium text-white text-xs">Hasta 6 cuotas sin interés</span>
      </p-chip>
    </div>
    <p class="text-gray-700 text-sm mb-4">
      Serás redirigido a Mercado Pago para completar el pago de forma segura.
    </p>
    <button
      appButtonPrimary
      type="button"
      (click)="pagar()"
      class="w-full text-white py-3 px-4 rounded-md transition-colors font-medium"
    >
      Ir a pagar {{ total | currency:'USD':'symbol':'1.2-2':'en-US' }}
    </button>
                </p-accordion-content>
              </p-accordion-panel>

              <!-- Transferencia bancaria -->
              <p-accordion-panel [value]="1">
                <p-accordion-header>
                  <div class="w-full flex px-4 justify-between items-center">
                    <div class="flex items-center gap-2">
                      <i class="fa-solid fa-building-columns"></i>
                      <span>Transferencia bancaria</span>
                    </div>
                    <p-chip>
                      <span class="font-medium text-white text-xs">10% de descuento</span>
                    </p-chip>
                  </div>
                </p-accordion-header>
                <p-accordion-content>
                  <p class="text-gray-700 text-sm">
                    Obtén un 10% de descuento pagando por transferencia bancaria.
                  </p>
                </p-accordion-content>
              </p-accordion-panel>

              <!-- Mercado Pago -->
              <p-accordion-panel [value]="2">
                <p-accordion-header>
                  <div class="w-full flex px-4 justify-between items-center">
                    <div class="flex items-center gap-2">
                      <i class="fa-brands fa-paypal"></i>
                      <span>Mercado Pago</span>
                    </div>
                  </div>
                </p-accordion-header>
                <p-accordion-content>
                  <p class="text-gray-700 text-sm">
                    Puedes pagar con cualquier aplicación de pago compatible con Mercado Pago.
                  </p>
                </p-accordion-content>
              </p-accordion-panel>
            </p-accordion>
          </div>
        </section>

        <section class="mt-6"></section>
      </div>
    </div>
  </div>

  <!-- Resumen carrito -->
  <div class="w-full md:w-1/4 p-3 py-5 rounded-md bg-white text-slate-900">
    <div *ngFor="let item of cartItems" class="flex gap-3 sm:gap-4 w-full mb-4">
      <img
        [src]="item.image"
        alt="Producto"
        class="w-20 min-w-[80px] max-w-[80px] h-full object-cover rounded-md"
      />
      <div class="flex flex-col justify-between w-full">
        <div>
          <h3 class="text-xs sm:text-sm font-semibold uppercase text-slate-900">
            {{ item.name }} x{{ item.quantity }}
          </h3>
          <p *ngIf="item.color" class="text-[11px] text-slate-500 mt-1 flex items-center gap-2">
            Color:
            <span
              class="inline-block w-3 h-3 rounded-xs border"
              [ngStyle]="{ 'background-color': item.color }"
            ></span>
          </p>
          <p *ngIf="item.size" class="text-[11px] text-slate-500 flex items-center gap-2 mt-1">
            Talla:
            <span class="bg-gray-100 px-2 py-0.5 text-[10px]">{{ item.size }}</span>
          </p>
        </div>
        <div class="mt-2">
          <ng-container *ngIf="discountData; else regularPrice">
            <span class="line-through text-slate-400 text-xs">
              {{ (item.price * item.quantity) | currency:'USD':'symbol':'1.2-2':'en-US' }}
            </span>
            <span class="text-green-600 text-sm font-bold ml-2">
              {{ getDiscountedPrice(item) | currency:'USD':'symbol':'1.2-2':'en-US' }}
            </span>
          </ng-container>
          <ng-template #regularPrice>
            <h3 class="text-sm font-semibold text-slate-900">
              {{ (item.price * item.quantity) | currency:'USD':'symbol':'1.2-2':'en-US' }}
            </h3>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="pt-4 mt-6 border-t border-slate-200 text-sm space-y-1">
      <div class="flex justify-between">
        <span class="font-semibold text-slate-700">Subtotal</span>
        <span>{{ subtotal | currency:'USD':'symbol':'1.2-2':'en-US' }}</span>
      </div>

      <div class="flex justify-between">
        <span class="font-semibold text-slate-700">Envío</span>
        <span class="text-green-600">Gratis</span>
      </div>

      <div class="flex justify-between font-bold text-base pt-2">
        <span>Total</span>
        <span>{{ total | currency:'USD':'symbol':'1.2-2':'en-US' }}</span>
      </div>

      <div *ngIf="discountData" class="mt-2 text-sm text-green-700">
        Código de descuento aplicado: <strong>{{ discountData.code }}</strong>
      </div>
    </div>
  </div>
</div>
