.lb-open {
  animation: fadeIn 300ms ease forwards;
}

.lb-close {
  animation: fadeOut 300ms ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.lb-img {
  width: 520px;
  height: 699px;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
  display: block;
  transform-origin: center center;
  will-change: transform;
}

.video-el {
  object-fit: contain;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.cursor-zoom-out {
  cursor: zoom-out;
}

.cursor-crosshair {
  cursor: crosshair;
}

.cursor-grabbing {
  cursor: grabbing;
}


.cursor-plus {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='%23778a72' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='M12 5v14'/%3E%3C/svg%3E") 18 18, crosshair;
}

.cursor-minus {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='%23778a72' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3C/svg%3E") 18 18, zoom-out;
}

@media (max-width: 768px) {

  .lb-img {
    width: 90vw;
    height: auto;
    max-height: 70vh;
  }
}