<ng-container *ngIf="isOpen">
  <div class="fixed inset-0 z-[1000] flex items-center justify-center"
    [ngClass]="{ 'lb-open': !isClosing, 'lb-close': isClosing }">
    <div class="absolute inset-0 bg-aldy-white"></div>
    <button (click)="close()"
      class="absolute w-12 h-12 hover:scale-110 border-1 flex justify-center items-center text-aldy-medium border-aldy-medium transition-all duration-250 cursor-pointer ease-in-out top-6 right-6 z-30">
      <lucide-icon name="x" color="#AEC2A9" [size]="16" [strokeWidth]="1.5"></lucide-icon>
    </button>
    <button (click)="prev()"
      class="absolute w-12 h-12 hover:scale-110 border-1 flex justify-center items-center border-aldy-medium transition-all duration-250 cursor-pointer ease-in-out left-4 md:left-10 top-1/2 -translate-y-1/2 z-30">
      <lucide-icon name="chevron-left" color="#AEC2A9" [strokeWidth]="1.5"></lucide-icon>
    </button>
    <button (click)="next()"
      class="absolute w-12 h-12 flex items-center justify-center hover:scale-110 border-1 border-aldy-medium transition-all duration-250 cursor-pointer ease-in-out right-4 md:right-10 top-1/2 -translate-y-1/2 z-30">
      <lucide-icon name="chevron-right" color="#AEC2A9" [strokeWidth]="1.5"></lucide-icon>
    </button>
    <div class="flex flex-col items-center relative z-10 w-full px-0 md:px-20">
      <div class="relative flex items-center justify-center
               w-screen max-w-none
               h-[65vh]
               md:max-w-[1300px]
               md:h-[84vh]" (wheel)="onWheel($event)">
        <div *ngFor="let item of items; let i = index; trackBy: trackByIndex" #slideRef
          class="absolute inset-0 flex items-center justify-center lb-slide" [class.lb-slide-active]="i === activeIndex"
          [class.lb-slide-inactive]="i !== activeIndex">
          <img *ngIf="!isVideo(item)" [src]="item.url" (click)="onImgClick()" (mousedown)="startDrag($event)"
            (mousemove)="onDrag($event)" (dragstart)="$event.preventDefault()" [style.transform]="
              i === activeIndex ? getImgTransform() : 'scale(1)'
            " [style.transition]="
              isDragging
                ? 'none'
                : 'transform 300ms cubic-bezier(0.4,0,0.2,1)'
            " [style.pointerEvents]="i === activeIndex ? 'auto' : 'none'" [ngClass]="{
              'cursor-plus': !zoomed && i === activeIndex,
              'cursor-grabbing': isDragging && i === activeIndex,
              'cursor-minus': zoomed && i === activeIndex
            }" class="lb-img" />
          <video *ngIf="isVideo(item)" #videoPlayer [src]="item.url" [poster]="item.poster" autoplay muted loop
            playsinline (click)="toggleVideo(videoPlayer)" [style.pointerEvents]="i === activeIndex ? 'auto' : 'none'"
            class="lb-img video-el bg-aldy-white">
          </video>
          <div *ngIf="i === activeIndex && showVideoOverlay" class="video-overlay">
            <lucide-icon [name]="videoOverlayIcon" color="#fff" [size]="50" [strokeWidth]="1.5"></lucide-icon>
          </div>
        </div>
      </div>
      <div class="
          fixed bottom-10 left-1/2 -translate-x-1/2 z-20
          flex flex-wrap justify-center gap-5 px-4
          w-full max-w-screen-sm
          md:static md:left-auto md:bottom-auto md:translate-x-0
          md:w-auto md:max-w-none
          md:gap-4 mt-0 md:mt-5
        ">
        <button *ngFor="let item of items; let i = index" (click)="goTo(i)" class="
            w-12 h-12
            md:w-[70px] md:h-[70px]
            flex-shrink-0 rounded-full
            transition-all duration-150 ease-out
            cursor-pointer overflow-hidden border
          " [ngClass]="{
            'border-aldy-medium border-[1px] scale-140 md:scale-113':
              i === activeIndex,
            'border-transparent': i !== activeIndex
          }">
          <img [src]="getThumb(item)" class="w-full h-full object-cover" loading="lazy" />
        </button>
      </div>
    </div>
  </div>
</ng-container>