/* Z-INDEX FOR LIGHTBOX TO BE ON TOP OF EVERYTHING */
:host {
  display: block;
}

:host ::ng-deep .lightbox-container {
  z-index: 999999 !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

/* Asegurarse que todos los elementos internos tengan z-index alto */
:host ::ng-deep .lightbox-container * {
  z-index: inherit !important;
}

@keyframes videoOverlayFade {
  0% {
    opacity: 0;
    transform: scale(0.82);
  }

  15% {
    opacity: 1;
    transform: scale(1);
  }

  75% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.08);
  }
}

/* CURSORES */

.cursor-plus {
  cursor:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='%23778a72' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='M12 5v14'/%3E%3C/svg%3E") 18 18,
    crosshair;
}

.cursor-minus {
  cursor:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='%23778a72' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3C/svg%3E") 18 18,
    zoom-out;
}

.cursor-grabbing {
  cursor: grabbing;
}

/* VIDEO */

video::-webkit-media-controls,
video::-webkit-media-controls-panel,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button,
video::-moz-media-controls {
  display: none !important;
}