<div class="w-full max-w-screen mx-auto p-6 space-y-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div
      class="p-6 shadow-md lg:shadow-none lg:hover:shadow-md transition-all duration-400 ease-in-out space-y-4">
      <div class="flex items-center space-x-3">
        <lucide-icon name="send" class="text-aldy-primary-500" [size]="24" [strokeWidth]="1.75"></lucide-icon>
        <h2 class="text-lg font-semibold">Newsletter</h2>
      </div>
      <p class="text-sm text-gray-600">Suscríbete y recibe novedades y promociones exclusivas.</p>
      <button
        class="px-5 py-2 bg-aldy-primary-500 text-white hover:bg-aldy-primary-600 transition-colors duration-500 ease-in-out">
        Suscribirme
      </button>
    </div>

    <div
      class="p-6 shadow-md lg:shadow-none lg:hover:shadow-md transition-all duration-400 ease-in-out space-y-4">
      <div class="flex items-center space-x-3">
        <lucide-icon name="user" class="text-aldy-primary-500" [size]="24" [strokeWidth]="1.75"></lucide-icon>
        <h2 class="text-lg font-semibold">Mis Datos Personales</h2>
      </div>
      <div class="text-sm text-gray-700">
        <p class="font-medium">Michael Campos</p>
        <p>michaelcamposvilgmail.com</p>
      </div>
      <button
        class="px-5 py-2 bg-aldy-primary-500 text-white hover:bg-aldy-primary-600 transition-colors duration-500 ease-in-out">
        Modificar
      </button>
    </div>

    <div
      class="p-6 shadow-md lg:shadow-none lg:hover:shadow-md transition-all duration-400 ease-in-out space-y-4">
      <div class="flex items-center space-x-3">
        <lucide-icon name="heart" class="text-aldy-primary-500" [size]="24" [strokeWidth]="1.75"></lucide-icon>
        <h2 class="text-lg font-semibold">Lista de favoritos</h2>
      </div>
      <p class="text-sm text-gray-600">Guarda aquí los productos que te gustan para comprarlos más adelante.</p>
      <button
        class="mt-2 px-5 py-2 bg-aldy-primary-500 text-white hover:bg-aldy-primary-600 transition-colors duration-500 ease-in-out">
        Ver lista
      </button>
    </div>
  </div>
</div>
