<section class="w-full px-4 max-w-screen-2xl mx-auto mt-6 md:mt-0">
  <div class="grid grid-cols-1 lg:grid-cols-5 items-stretch w-full min-h-[700px] relative">

    <!-- Texto -->
    <div
      class="relative flex flex-col justify-center items-center lg:items-start w-full py-10 z-10 lg:col-span-2 text-center lg:text-left order-1 md:order-1"
    >
      <!-- SVG decorativo VISIBLE EN MOBILE Y PC -->
      <div
        class="absolute inset-0 flex justify-center items-center pointer-events-none select-none z-0"
      >
        <img
          src="assets/svg/logos-03.svg"
          alt="Aldana Vilcabana"
          class="w-[200px] sm:w-[260px] xl:w-[400px] opacity-20 object-contain"
          draggable="false"
        />
      </div>

      <!-- Contenido -->
      <div class="relative z-10 flex flex-col items-center lg:items-start w-full">

        <h2
          appWordReveal
          class="text-3xl sm:text-4xl lg:text-[48px] xl:text-[68px] text-center leading-tight NewAldyTitle font-light text-white w-full transition-all duration-500 ease-in-out"
        >
          Del Juego a la Pasi<span class="NewAldyFontTypeAccent relative -top-[1px]">ó</span>n
        </h2>

        <p
          appFadeUpLetter
          class="text-white first-letter:text-3xl NewAldyFontType4 text-base leading-8 mt-6 w-full"
        >
          Desde mis primeros diseños para muñecas, transformando retazos de tela en vestuarios imaginativos, hasta la creación de piezas exclusivas y a medida para mis clientas de hoy, una constante innegable ha marcado mi camino...
        </p>

        <a
          href="/acerca-de-mi"
          class="mt-8 w-1/2 sm:w-1/3 flex justify-center border border-white text-white py-3 px-5 text-xs tracking-widest font-medium uppercase transition-colors NewAldyFontType4 hover:bg-aldy-green-gray hover:border-aldy-green-gray hover:text-white mx-auto"
        >
          VER MÁS
        </a>
      </div>
    </div>

    <!-- Imagen -->
    <div
      class="relative flex justify-center items-center w-full z-4 lg:ms-8 xl:ms-7 aspect-[5/4] md:aspect-[4/3] lg:aspect-[4/2] lg:col-span-3 order-2 md:order-2"
    >
      <img
        #aboutImage
        [draggable]="false"
        src="assets/images/loadingIMG/loading1.jpg"
        alt="About image"
        class="w-full h-full object-contain"
      />
    </div>

  </div>
</section>
