<section class="w-full bg-aldy-white">
  <!-- ===================== DESKTOP ===================== -->
  <div class="hidden md:grid grid-cols-[50fr_50fr] lg:grid-cols-[45fr_55fr] min-h-[500px]">
    <div class="bg-aldy-white flex items-end justify-center px-5 pt-8 relative">
      <div class="relative z-10 rounded-tr-[14rem] overflow-hidden w-full h-full">
        <img src="assets/images/loadingIMG/loading1.jpg" alt="Foto taller de costura"
          class="w-full h-full object-cover object-center" draggable="false" />
      </div>
      <div class="absolute ms-5 pr-5 mt-8 inset-0 z-1 border-r-2 border-[#D6BE8E] border-t-2 rounded-tr-[14rem] "></div>
    </div>
    <div class="bg-aldy-white relative flex flex-col justify-center px-12 py-16 overflow-hidden">
      <div class="absolute z-2 bottom-0 right-0 lg:right-10 w-[180px] xl:w-[220px] pointer-events-none select-none opacity-50">
        <img src="../../../../../assets/images/sections/about_home/flower2.png" alt="" draggable="false"
          class="w-full h-full object-contain" />
      </div>
      <div class="flex items-center gap-3 mb-4">
        <span class="h-px w-8 bg-aldy-green-gray"></span>
        <span appFadeUpLetter class="cursiveTitle text-3xl xl:text-5xl text-aldy-green-gray tracking-wide">
          Sobre mí
        </span>
        <span class="h-px w-8 bg-aldy-green-gray"></span>
      </div>
      <h2 appWordReveal
        class="NewAldyTitle z-10 uppercase text-aldy-green-gray leading-[1.05] text-4xl xl:text-5xl mb-6 tracking-wide">
        Del Juego a la Pasi<span class="NewAldyFontTypeAccent relative -top-[1px]">ó</span>n
      </h2>
      <p appFadeUpLetter
        class="NewAldyFontType4 text-aldy-green-gray line-clamp-4 leading-6 xl:leading-7 tracking-wider text-sm xl:text-base max-w-[480px] mb-8 relative z-10">
        Desde mis primeros diseños para muñecas, transformando retazos de tela en vestuarios
        imaginativos, hasta la creación de piezas exclusivas y a medida para mis clientas de hoy,
        una constante innegable ha marcado mi camino la inquebrantable pasión por hacer.
      </p>
      <a appFadeUpLetter routerLink="/acerca-de-mi" class="NewAldyFontType4 inline-flex items-center gap-3 bg-aldy-medium hover:bg-aldy-medium-2
               transition-colors duration-300 text-white uppercase tracking-[0.22em]
               text-xs px-8 py-4 self-start relative z-10">
        Conocer más sobre mí
      </a>
    </div>
  </div>
  <!-- ===================== MOBILE ===================== -->
  <div class="grid md:hidden grid-rows-[auto_1fr] bg-aldy-white">
  <div class="relative w-full pl-4 pr-7 pt-6">
    
    <div class="relative z-10 rounded-tr-[14rem] overflow-hidden w-full aspect-[4/3]">
      <img
        src="assets/images/loadingIMG/loading1.jpg"
        alt="Foto taller de costura"
        class="w-full h-full object-cover object-top"
        draggable="false"
      />
    </div>
    <div class="absolute ms-4 mr-3 mt-6 inset-0 z-1 border-r-2 border-t-2 border-[#D6BE8E] rounded-tr-[14rem]"></div>
  </div>
  <div class="relative grid grid-rows-[auto_auto_auto_auto_auto_1fr_auto]
              justify-items-center text-center
              gap-0 px-6 pt-8 pb-10 overflow-hidden">
    <div class="absolute top-10 right-2 sm:top-auto sm:bottom-4 sm:right-2
            w-[130px] pointer-events-none select-none opacity-50">
      <img
        src="../../../../../assets/images/sections/about_home/flower2.png"
        alt=""
        draggable="false"
        class="w-full object-contain"
      />
    </div>
    <div class="flex items-center gap-2 mb-3">
      <span class="h-px w-6 bg-aldy-green-gray"></span>
      <span appFadeUpLetter class="text-3xl cursiveTitle sm:text-4xl text-aldy-green-gray">
        Sobre mí
      </span>
      <span class="h-px w-6 bg-aldy-green-gray"></span>
    </div>
    <h2 appWordReveal class="NewAldyTitle text-center uppercase text-aldy-green-gray leading-[1.05] text-4xl mb-3 tracking-wide">
      Del Juego a<br class="block sm:hidden"> 
      la Pasi<span class="NewAldyFontTypeAccent relative -top-[1px]">ó</span>n
    </h2>
    <p appFadeUpLetter class="NewAldyFontType4 text-center text-aldy-green-gray leading-6 text-sm sm:text-base max-w-1/1 sm:max-w-lg mb-8 relative z-10">
      Modista y diseñadora apasionada por crear piezas únicas que realzan la esencia de
      cada mujer. Combino técnica, sensibilidad y dedicación para transformar ideas en piezas
      hechas con alma.
    </p>
    <a appFadeUpLetter
      routerLink="/acerca-de-mi"
      class="NewAldyFontType4 inline-flex  items-center justify-center w-1/1 sm:w-lg
             bg-aldy-medium hover:bg-aldy-medium-2 transition-colors duration-300
             text-white uppercase tracking-[0.18em] text-xs px-6 py-4
             relative z-10"
    >
      Conocer más sobre mí
    </a>
  </div>
</div>
</section>