<nav class="fixed w-full z-30 top-0 start-0 shadow-lg backdrop-blur transition-all duration-300"
  [ngClass]="{ 'py-0 bg-black/50': MoverScroll, 'py-1.5 bg-black/20': !MoverScroll }">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto py-2.5 px-4 sm:px-6 md:px-8">
    <a href="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="../../../../assets/images/logo momentaneo.webp" alt="Logo" class="h-10 sm:h-11 md:h-12" />
    </a>
    <div
      class="flex w-45 gap-1 md:gap-2 transition-all duration-500 in-ease-out h-auto justify-center flex-row-reverse">
      <button (click)="toggleDrawer()"
        class="text-white flex items-center justify-center text-lg px-3.5 py-2.5 cursor-pointer">
        <i class="fa-solid fa-bars text-xl sm:text-lg md:text-xl transition-all duration-300 ease-in-out"></i>
      </button>
      <button routerLink="/pre-login"
        class="text-white flex items-center justify-center text-lg px-3.5 py-2.5 cursor-pointer">
        <i class="fa-solid fa-user text-xl sm:text-lg md:text-xl transition-all duration-300 ease-in-out"></i>
      </button>
      <button (click)="visible2 = true" class="text-white flex items-center justify-center text-lg px-3.5 py-2.5 cursor-pointer">
        <p-overlayBadge value="6" severity="danger">
          <i class="fa-solid fa-bag-shopping text-xl sm:text-lg md:text-xl transition-all duration-300 ease-in-out"></i>
        </p-overlayBadge>
      </button>
    </div>
  </div>
</nav>
<p-drawer header="Right Drawer" [(visible)]="visible2" position="right">
</p-drawer>
<p-drawer [(visible)]="visible" position="left" [modal]="true" [blockScroll]="false"
  class="max-w-xs sm:max-w-sm md:max-w-md">
  <div class="flex h-full flex-col ">
    <div class="bg-gray-900 w-full h-18 border-0 flex justify-center">
      <div class="w-[90%] md:w-[85%] flex justify-between h-auto transition-all duration-500 in-ease-out">
        <div class="w-[50%] gap-2 md:gap-4 justify-between flex align-center transition-all duration-500 in-ease-out">
          <button class="text-white flex items-center justify-center text-lg px-2 py-2.5">
            <i class="fa-solid fa-search text-xl sm:text-lg md:text-xl transition-all duration-300 ease-in-out"></i>
          </button>
          <div class="flex flex-col h-full w-full justify-center">
            <div class="h-7 flex items-end">
              <h2 class="text-white text-base sm:text-sm md:text-base transition-all duration-300 ease-in-out">
                Buscar
              </h2>
            </div>
            <div class="h-7 relative overflow-hidden">
              <ng-container *ngFor="let item of items; let i = index">
                <div *ngIf="i === currentIndex"
                  class="absolute inset-0 flex items-center justify-start text-white text-sm sm:text-xs md:text-sm"
                  [@slideUp]>
                  {{ item }}
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="w-[50%] gap-2 md:gap-4 justify-end flex align-center transition-all duration-500 in-ease-out">
          <button class="text-white flex items-center justify-center text-lg px-2 py-2.5 relative">
            <p-overlayBadge value="6" severity="danger">
              <i class="fa-solid fa-heart text-xl sm:text-lg md:text-xl transition-all duration-300 ease-in-out"></i>
            </p-overlayBadge>
          </button>
          <button class="text-white flex items-center justify-center text-lg px-2 py-2.5 relative">
            <p-overlayBadge value="6" severity="danger">
              <i
                class="fa-solid fa-bag-shopping text-xl sm:text-lg md:text-xl transition-all duration-300 ease-in-out"></i>
            </p-overlayBadge>
          </button>
          <button routerLink="/pre-login"
            class="text-white cursor-pointer flex items-center justify-center text-lg px-2 py-2.5">
            <i class="fa-solid fa-user text-xl sm:text-lg md:text-xl transition-all duration-300 ease-in-out"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full h-auto border-0 flex justify-center shadow-lg">
      <div class="w-[90%] md:w-[85%] flex justify-between h-auto transition-all duration-500 in-ease-out">
        <div class="flex items-center space-x-3 rtl:space-x-reverse py-4">
          <img src="../../../../assets/images/logo momentaneo.webp" alt="Logo"
            class="h-10 sm:h-11 md:h-12 grayscale brightness-0" />
        </div>
        <div
          class="flex flex-col-reverse items-end xl:items-end md:items-end sm:items-end space-y-2 xl:space-y-0 xl:space-x-3 xl:py-4 py-2 text-center xl:text-right">
          <h2
            class="font-bold text-xl sm:text-lg md:text-xl xl:text-2xl text-gray-900 transition-all duration-500 in-ease-out">
            Menú
          </h2>
          <span
            class="font-medium text-sm sm:text-xs md:text-sm xl:text-base text-gray-900 transition-all duration-500 in-ease-out">
            Explorar por categoría
          </span>
        </div>
      </div>
    </div>
    <div class="w-full h-auto flex justify-center">
      <div class="w-[90%] md:w-[85%] flex justify-start h-auto flex-col">
        <div class="flex items-start space-y-2 xl:space-y-0 xl:space-x-3 py-2">
          <h2 class="font-medium text-lg text-gray-900 transition-all duration-500 in-ease-out">
            Novedades
          </h2>
        </div>
        <app-carousel-sidebar></app-carousel-sidebar>
        <div>
          <p-accordion [expandIcon]="'pi pi-angle-right'" [collapseIcon]="'pi pi-angle-down'" value="0">
            <p-accordion-panel value="0">
              <p-accordion-header>
                <span class="font-medium text-lg text-gray-900 transition-all duration-500 in-ease-out">Tienda</span>
              </p-accordion-header>
              <p-accordion-content [draggable]="true">
                <ul class="w-full">
                  <li>
                    <a routerLink="/opcion1" routerLinkActive="text-aldy-primary-500"
                      [routerLinkActiveOptions]="{ exact: true }"
                      class="flex border-l-2 border-gray-200 hover:border-l-2 hover:border-aldy-primary-500 items-center justify-start py-2 px-4 text-md font-medium text-gray-800 transition-colors duration-300">
                      <span>Opción 1</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/opcion2" routerLinkActive="text-aldy-primary-500"
                      [routerLinkActiveOptions]="{ exact: true }"
                      class="flex border-l-2 border-gray-200 hover:border-l-2 hover:border-aldy-primary-500 items-center justify-start py-2 px-4 text-md font-medium text-gray-800 transition-colors duration-300">
                      <span>Opción 2</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/opcion3" routerLinkActive="text-aldy-primary-500"
                      [routerLinkActiveOptions]="{ exact: true }"
                      class="flex border-l-2 border-gray-200 hover:border-l-2 hover:border-aldy-primary-500 items-center justify-start py-2 px-4 text-md font-medium text-gray-800 transition-colors duration-300">
                      <span>Opción 3</span>
                    </a>
                  </li>
                </ul>
              </p-accordion-content>
            </p-accordion-panel>
          </p-accordion>
        </div>
        <ul class="w-full">
          <li>
            <a href="/gallery"
              class="group flex border-b border-gray-200 items-center justify-between py-[18px] font-medium text-lg text-gray-900">
              <span>Galería</span>
              <i
                class="fa-solid fa-chevron-right text-[16px] text-gray-500 group-hover:text-gray-800 transition-all duration-200 ease-in-out pe-2"></i>
            </a>
          </li>
          <li>
            <a href="#"
              class="group flex border-b border-gray-200 items-center justify-between py-[18px] font-medium text-lg text-gray-900">
              <span>Contacto</span>
              <i
                class="fa-solid fa-chevron-right text-[16px] text-gray-500 group-hover:text-gray-800 transition-all duration-200 ease-in-out pe-2"></i>
            </a>
          </li>
          <li>
            <a href="/store"
              class="group flex border-b border-gray-200 items-center justify-between py-[18px] font-medium text-lg text-gray-900">
              <span>Tienda</span>
              <i
                class="fa-solid fa-chevron-right text-[16px] text-gray-500 group-hover:text-gray-800 transition-all duration-200 ease-in-out pe-2"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</p-drawer>