<div class="relative w-full">
  <input
    [id]="id"
    [value]="value"
    [disabled]="disabled"
    [type]="showPassword ? 'text' : 'password'"
    placeholder=" "
    [ngClass]="{
      'border-red-400 text-red-400 focus:border-red-400': invalid,
      'border-aldy-primary-400 focus:border-aldy-primary-400': !invalid && !disabled,
      'border-gray-300': !invalid && !disabled,
      'bg-gray-100 text-gray-400': disabled,
      'text-gray-900': !invalid && !disabled
    }"
    class="peer block w-full border-b-1 px-2.5 pt-4 pb-2.5 text-sm bg-transparent appearance-none focus:outline-none focus:ring-0 transition-all duration-300 ease-in-out"
  />

  <!-- Label flotante -->
  <label
    [for]="id"
    [ngClass]="{
      'text-red-400 peer-focus:text-red-400': invalid,
      'text-gray-400 peer-disabled:text-gray-400': disabled,
      'text-gray-500 peer-focus:text-aldy-primary-400': !invalid && !disabled
    }"
    class="pointer-events-none absolute start-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm transition-all duration-300
           peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 
           peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75"
  >
    {{ label }}
  </label>

  <!-- Botón ojo -->
  <button
    type="button"
    (click)="toggleVisibility()"
    class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700"
    tabindex="-1"
  >
    <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
      viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path
        stroke-linecap="round" stroke-linejoin="round"
        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
    </svg>

    <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
      viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.956 9.956 0 012.223-3.592m3.598-2.4A9.969 9.969 0 0112 5c4.477 0 8.267 2.943 9.541 7a9.955 9.955 0 01-4.132 5.411M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 3l18 18" />
    </svg>
  </button>
</div>
