.dual-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.dual-media {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.dual-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 16px;
}

.dual-order-media-1,
.dual-order-media-2 { order: 1; }

.dual-order-text-1,
.dual-order-text-2  { order: 2; }

@media (min-width: 990px) {
  .dual-media {
    aspect-ratio: unset;
    min-height: 100%;
  }

  .dual-text {
    padding: 1.5rem 2.8rem;
  }

  .dual-order-media-1 { order: 1; }
  .dual-order-media-2 { order: 2; }
  .dual-order-text-1  { order: 1; }
  .dual-order-text-2  { order: 2; }
}