<div *ngIf="product" class="h-[72px] md:h-[88px]"></div>
<div *ngIf="product" class="px-5 md:px-6 md:px-12 xl:px-16 2xl:px-24 py-5 md:py-8 w-full">
  <div class="max-w-screen-3xl mx-auto">
    <div class="grid md:grid-cols-2 gap-5 md:gap-0 text-gray-800">
      <div class="relative overflow-hidden">
        <app-fancy-carousel [images]="carouselImages" [id]="'carousel-' + product.id"></app-fancy-carousel>
      </div>
      <div class="relative max-w-full md:max-w-[550px] ml-0 md:ml-13 space-y-5">
        <h1 class="text-xl md:text-2xl md:text-3xl uppercase NewAldyTitle text-aldy-green-gray-bold ">{{ product.name }}</h1>
        <p class="text-sm md:text-sm font-light NewAldyFontType4 text-aldy-green-gray mt-1">
          {{ product.price | currency: 'ARS':'symbol-narrow':'1.2-2':'es-AR' }}
        </p>

        <div class="flex items-center gap-3">
          <span
            class="text-sm md:text-sm font-light text-aldy-green-gray NewAldyFontType4 tracking-wider me-3">Colores:</span>
          <button *ngFor="let variant of product.variants" (click)="selectColor(variant.color_name)"
            [ngStyle]="{ backgroundColor: variant.color_hex }" class="w-4 h-4 rounded-sm transition-all border"
            [ngClass]="{
    'border-white border-2 ring-2 ring-aldy-green-gray cursor-default': isColorSelected(variant.color_name),
    'border-transparent cursor-pointer': !isColorSelected(variant.color_name)
  }" aria-label="Elegir color"></button>

        </div>

        <div class="flex items-center flex-wrap gap-2">
          <span
            class="text-sm md:text-sm font-light text-aldy-green-gray NewAldyFontType4 tracking-wider me-3">Tallas:</span>
          <ng-container *ngFor="let size of product.sizes">
            <button (click)="selectSize(size)"
              class="text-sm md:text-sm font-light px-3 py-1 border-b-2 transition-all cursor-pointer" [ngClass]="{
                'border-aldy-medium text-aldy-medium font-semibold': selectedSize === size,
                'border-transparent text-aldy-green-gray tracking-wider hover:border-gray-400': selectedSize !== size
              }">
              {{ size }}
            </button>
          </ng-container>
        </div>

        <div class="flex items-center cursor-pointer mt-4">
          <div class="relative">
            <select [(ngModel)]="quantitySelected" (ngModelChange)="onQuantityChange($event)"
              class="appearance-none border border-aldy-medium py-3 pl-3 pr-8 text-sm focus:outline-none">
              <option *ngFor="let qty of [1, 2, 3, 4, 5]" [value]="qty">{{ qty }}</option>
            </select>
            <div
              class="pointer-events-none absolute right-2 top-1/2 transform -translate-y-1/2 text-aldy-medium text-xs">
              ▼
            </div>
          </div>

          <button
            class="flex-1 cursor-pointer flex items-center justify-center gap-3 bg-aldy-medium border border-aldy-medium text-white uppercase  py-3 px-4 text-center transition-colors hover:bg-aldy-medium-2 hover:border-aldy-medium-2"
            (click)="addToCartItems()">
            <span class="tracking-wider NewAldyFontType4 text-sm md:text-sm font-light">Añadir al carrito</span>
            <lucide-icon [size]="20" [strokeWidth]="1.5" name="shopping-bag"
              class="text-white relative -top-[0.7px]"></lucide-icon>
          </button>
        </div>

        <app-acordiongeneric [title]="'Descripción'" [value]="'descripcion'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p class="flex items-center gap-2 py-2 px-3 text-xs tracking-wider NewAldyFontType4 w-full rounded-md">
              {{ product.description }}
            </p>
          </div>
        </app-acordiongeneric>

        <app-acordiongeneric [title]="'Detalles del producto'" [value]="'detalles'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p class="flex items-center gap-2 py-2 px-3 text-xs tracking-wider NewAldyFontType4 w-full rounded-md">
              {{ product.details }}
            </p>
          </div>
        </app-acordiongeneric>

        <app-acordiongeneric [title]="'Talle y ajustes'" [value]="'talla'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p class="flex items-center gap-2 py-2 px-3 text-xs tracking-wider NewAldyFontType4 w-full rounded-md">
              {{ product.details }}
            </p>
          </div>
        </app-acordiongeneric>


        <app-acordiongeneric [title]="'Fabricación'" [value]="'fabricacion'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p class="flex items-center gap-2 py-2 px-3 text-xs tracking-wider NewAldyFontType4 w-full rounded-md">
              {{ product.details }}
            </p>
          </div>
        </app-acordiongeneric>


        <app-acordiongeneric [title]="'Citas y pruebas'" [value]="'citas'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p class="flex items-center gap-2 py-2 px-3 text-xs tracking-wider NewAldyFontType4 w-full rounded-md">
              {{ product.details }}
            </p>
          </div>
        </app-acordiongeneric>


        <app-acordiongeneric [title]="'Tabla de medidas'" [value]="'envio'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p class="flex items-center gap-2 py-2 px-3 text-xs tracking-wider NewAldyFontType4 w-full rounded-md">
              {{ product.details }}
            </p>
          </div>
        </app-acordiongeneric>
      </div>
    </div>
  </div>
</div>
<div class="px-4 md:px-6 md:px-12 xl:px-16 2xl:px-24 py-8 md:py-12 w-full" *ngIf="relatedProducts.length > 0">
  <div class="max-w-screen-xl mx-auto">
    <app-product-carousel [products]="relatedProducts" [carouselTitle]="'Puede que también te guste'" [maxProducts]="6"
      [visibleProducts]="3">
    </app-product-carousel>
  </div>
</div>