<div *ngIf="product" class="h-[72px] md:h-[88px]"></div>
<div *ngIf="product" class="px-5 md:px-6 md:px-12 xl:px-16 2xl:px-24 py-5 md:py-8 w-full">
  <div class="max-w-screen-3xl mx-auto">
    <div class="grid md:grid-cols-2 gap-5 md:gap-0 text-gray-800">
      <div class="relative overflow-hidden">
        <app-fancy-carousel [images]="carouselImages" [id]="'carousel-' + product.id"></app-fancy-carousel>
      </div>
      <div class="relative max-w-full md:max-w-[550px] ml-0 md:ml-13 space-y-5">
        <h1 class="text-xl md:text-2xl md:text-3xl uppercase NewAldyTitle text-aldy-green-gray-bold ">{{ product.name }}
        </h1>
        <p class="text-sm md:text-sm font-light NewAldyFontType4 text-aldy-green-gray mt-1">
          {{ product.price | currency: 'ARS':'symbol-narrow':'1.2-2':'es-AR' }}
        </p>

        <div class="flex items-center gap-3">
          <span
            class="text-sm md:text-sm font-light text-aldy-green-gray NewAldyFontType4 tracking-wider me-3">Colores:</span>
          <button *ngFor="let variant of product.variants" (click)="selectColor(variant.color_name)"
            [ngStyle]="{ backgroundColor: variant.color_hex }" class="w-4 h-4 rounded-sm transition-all border"
            [ngClass]="{
    'border-white border-2 ring-2 ring-aldy-green-gray cursor-default': isColorSelected(variant.color_name),
    'border-transparent cursor-pointer': !isColorSelected(variant.color_name)
  }" aria-label="Elegir color"></button>

        </div>

        <div class="flex items-center flex-wrap gap-2">
          <span
            class="text-sm md:text-sm font-light text-aldy-green-gray NewAldyFontType4 tracking-wider me-3">Tallas:</span>
          <ng-container *ngFor="let size of product.sizes">
            <button (click)="selectSize(size)"
              class="text-sm md:text-sm font-light px-3 py-1 border-b-2 transition-all cursor-pointer" [ngClass]="{
                'border-aldy-medium text-aldy-medium font-semibold': selectedSize === size,
                'border-transparent text-aldy-green-gray tracking-wider hover:border-gray-400': selectedSize !== size
              }">
              {{ size }}
            </button>
          </ng-container>
        </div>

        <div class="flex items-center cursor-pointer mt-4">
          <div class="relative">
            <select [(ngModel)]="quantitySelected" (ngModelChange)="onQuantityChange($event)"
              class="appearance-none border border-aldy-medium py-3 pl-3 pr-8 text-sm focus:outline-none">
              <option *ngFor="let qty of [1, 2, 3, 4, 5]" [value]="qty">{{ qty }}</option>
            </select>
            <div
              class="pointer-events-none absolute right-2 top-1/2 transform -translate-y-1/2 text-aldy-medium text-xs">
              ▼
            </div>
          </div>

          <button
            class="flex-1 cursor-pointer flex items-center justify-center gap-3 bg-aldy-medium border border-aldy-medium text-white uppercase  py-3 px-4 text-center transition-colors hover:bg-aldy-medium-2 hover:border-aldy-medium-2"
            (click)="addToCartItems()">
            <span class="tracking-wider NewAldyFontType4 text-sm md:text-sm font-light">Añadir al carrito</span>
            <lucide-icon [size]="20" [strokeWidth]="1.5" name="shopping-bag"
              class="text-white relative -top-[0.7px]"></lucide-icon>
          </button>
        </div>

        <app-acordiongeneric [title]="'Descripción'" [value]="'descripcion'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p
              class="flex items-center gap-2 pt-2 pb-6 px-3 text-sm sm:text-base text-aldy-green-gray-bold leading-5 italic tracking-wide w-full">
              {{ product.description }}
            </p>
          </div>
        </app-acordiongeneric>

        <app-acordiongeneric [title]="'Detalles del producto'" [value]="'detalles'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p
              class="flex items-center gap-2 pt-2 pb-6 px-3 text-sm sm:text-base text-aldy-green-gray-bold leading-5 tracking-wide w-full">
              {{ product.details }}
            </p>
          </div>
        </app-acordiongeneric>

        <app-acordiongeneric [title]="'Talle y ajustes'" [value]="'talla'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p
              class="flex items-center gap-2 pt-2 pb-6 px-3 text-sm sm:text-base text-aldy-green-gray-bold leading-5 tracking-wide w-full">
              {{ product.details }}
            </p>
          </div>
        </app-acordiongeneric>


        <app-acordiongeneric [title]="'Fabricación'" [value]="'fabricacion'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p
              class="flex items-center gap-2 pt-2 pb-6 px-3 text-sm sm:text-base text-aldy-green-gray-bold leading-5 tracking-wide w-full">
              {{ product.details }}
            </p>
          </div>
        </app-acordiongeneric>


        <app-acordiongeneric [title]="'Citas y pruebas de vestuario'" [value]="'citas'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p class="pt-2 pb-6 px-3 text-sm sm:text-base text-aldy-green-gray-bold leading-5 tracking-wide w-full">
              ¿Prefieres probarte esta prenda en persona? Estaremos encantados de ayudarte.

              Puedes coordinar una cita de prueba de manera virtual o solicitar una atención personalizada a través de
              <a href="https://wa.me/5491164082659?text=Hola%2C%20vengo%20por%20una%20asesor%C3%ADa%20personalizada.%20%C2%BFPodr%C3%ADas%20pasarme%20los%20detalles%3F"
                target="_blank" rel="noopener noreferrer"
                class="underline font-medium transition-all duration-300 ease-in-out hover:opacity-80">
                WhatsApp
              </a>
              . Con gusto te ayudaremos a ver la prenda en detalle, resolver tus dudas y brindarte asesoramiento
              directo.
            </p>
          </div>
        </app-acordiongeneric>


        <app-acordiongeneric [title]="'Tabla de medidas'" [value]="'envio'" [selected]="openAccordion"
          (toggled)="toggleAccordion($event)">
          <div class="space-y-1">
            <p
              class="flex items-center gap-2 pt-2 pb-6 px-3 text-sm sm:text-base text-aldy-green-gray-bold leading-5 tracking-wide w-full">
              {{ product.details }}
            </p>
          </div>
        </app-acordiongeneric>
<div class="w-full bg-[#f3ece5] overflow-hidden p-4">
  <div class="flex items-start gap-3">
    <lucide-icon
      class="text-aldy-green-gray-bold mt-1"
      [size]="24"
      [strokeWidth]="1.5"
      name="package"
    ></lucide-icon>

    <p class="text-xs text-aldy-green-gray-bold leading-4 tracking-wide">
      Todos nuestros vestidos de novia se confeccionan a mano y bajo pedido. Cada pieza tarda entre 3 y 6 meses* en crearse. Una vez realizado el pedido, nuestro equipo se pondrá en contacto contigo vía WhatsApp para confirmar la talla, los detalles y los plazos de entrega, y así finalizar tu pedido.

      <span class="block leading-4 mt-1">
        Si tu boda es en menos de 3 meses, puedes escribirnos por WhatsApp para evaluar opciones de producción urgente.
      </span>

      <span class="block leading-4 mt-1">
        Los tiempos pueden variar según el diseño y la carga de producción.
      </span>
    </p>
  </div>
</div>



    </div>
  </div>
</div>
<div class="px-4 md:px-6 md:px-12 xl:px-16 2xl:px-24 py-8 md:py-12 w-full" *ngIf="relatedProducts.length > 0">
  <div class="max-w-screen-xl mx-auto">
    <app-product-carousel [products]="relatedProducts" [carouselTitle]="'Puede que también te guste'" [maxProducts]="6"
      [visibleProducts]="3">
    </app-product-carousel>
  </div>
</div>