<div #screen class="fixed inset-0 bg-aldy-white z-[9999] overflow-hidden flex items-center justify-center select-none px-4">
  <div class="relative w-full max-w-[600px] h-[600px] sm:h-[600px] flex flex-col items-center justify-center">
    <div #circleGroup class="absolute inset-0 z-[10]">
      <!-- Box 1 -->
      <div #box1 class="absolute z-28 w-[151px] h-[111px] top-[10rem] left-1/2 -translate-x-1/2 sm:w-[303px] sm:h-[222px] sm:top-[-1.75rem] opacity-0">
        <div class="w-full h-full relative overflow-hidden">
          <img class="object-cover" ngSrc="../../../../assets/images/loadingINTRO/loading1.webp" alt="box1" fill dragable="false"/>
        </div>
      </div>
      <!-- Box 2 -->
      <div #box2 class="absolute z-29 w-[110px] h-[151px] bottom-[6rem] left-1/2 -translate-x-1/2 sm:w-[303px] sm:h-[420px] sm:bottom-[-8rem] opacity-0">
        <div class="w-full h-full relative overflow-hidden">
          <img class="object-cover" ngSrc="../../../../assets/images/loadingINTRO/loading8.webp" alt="box2" fill dragable="false" priority/>
        </div>
      </div>
      <!-- Box 3 -->
      <div #box3 class="absolute z-28 w-[151px] h-[153px] top-1/2 left-[2rem] sm:left-0 -translate-y-1/2 sm:w-[302px] sm:h-[303px] opacity-0">
        <div class="w-full h-full relative overflow-hidden">
          <img class="object-cover" ngSrc="../../../../assets/images/loadingINTRO/loading5.webp" alt="box3" fill dragable="false"/>
        </div>
      </div>
      <!-- Box 4 -->
      <div #box4 class="absolute z-26 w-[201px] h-[151px] top-1/2 right-[2rem] -translate-y-1/2 sm:w-[403px] sm:h-[453px] sm:right-[-5rem] opacity-0">
        <div class="w-full h-full relative overflow-hidden">
          <img class="object-cover" ngSrc="../../../../assets/images/loadingINTRO/loading7.webp" alt="box4" fill dragable="false" priority/>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <div #logoContainer class="relative z-[100] w-[120px] h-[80px] sm:w-[160px] sm:h-[110px]">
        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" data-name="Capa 1" viewBox="371.44 426.41 337.1 227.24" class="w-full h-full opacity-0" #logoSvg>
          <defs>
            <style>.cls-1,.cls-3{fill:#d2e4cc;}.cls-2{fill:none;stroke-width:6px;}.cls-2,.cls-3{stroke:#d2e4cc;stroke-linecap:round;stroke-linejoin:bevel;}.cls-3{stroke-width:0.5px;}</style>
          </defs>
          <title>AV</title>
          <path class="cls-1 svg-elem-1" d="M555.58,627.58l-4.29-4a27.22,27.22,0,0,1-6.89-10.05L471.6,429.38,410.18,584.6h0A61.41,61.41,0,0,0,406,601.1,43.29,43.29,0,0,0,415.68,632c1.42,1.81,4.67,1,7.2-1.77.35-.37.66-.79,1-1.18l0,0s0,0,.06,0l1.06-1.4.3-.41,1.09-1.44-.05-.06h0c.27-.42.59-.81.87-1.26,2-3.27,2.59-6,1.34-6.67a29.88,29.88,0,0,1-15-17.41,21.5,21.5,0,0,1,.32-14c0-.09.06-.19.1-.29l0-.08,10.84-27.38c.23-.26-.29.26.76-1.53,1-2.87,1.09-2.9,2.16-5.94h0v0l35-88.53,28.33,71.66h0a14.34,14.34,0,0,1,1.56,4h0l27.66,70A17.5,17.5,0,0,1,516,627.58Z"></path>
          <path class="cls-1 svg-elem-2" d="M679.77,446.15l-5.37,3.55a33.31,33.31,0,0,0-12.1,14.74L596.41,626.62,521.3,451.55A33.49,33.49,0,0,0,510,437.33l-3.16-2.22h34.75a18.15,18.15,0,0,0-.72,15.71l63.52,148,54.24-135a18.12,18.12,0,0,0-1.34-16.73l-.64-1Z"></path>
          <path class="cls-2 svg-elem-3" d="M439.91,612c15.58,23.19-21.52,49.59-44.71,33.93-50-33.77-.09-109.33,48.86-90.31,70.08,27.23,141.49,20.76,211.77-19.67,116.64-67.11-5.56-161.28-27.94-66.26"></path>
          <path class="cls-3 svg-elem-4" d="M429,599.6a6.47,6.47,0,0,0-.78,8.15c1.88,3.13,4.79,4.07,8.28,3.24a24.81,24.81,0,0,0,2.94-1.15c-.23,1.29-.49,2.57-.77,3.83a18.16,18.16,0,0,1,2.34.19c.46-2.34.84-4.71,1.11-7.13.39-3.59-1.73-7.56-4.74-8.85C434.2,596.52,431.27,597,429,599.6Z"></path>
          <path class="cls-3 svg-elem-5" d="M628.9,484.55a6.23,6.23,0,0,0,5.5-5.63c.46-3.46-1.15-5.9-4.28-7.37a24.73,24.73,0,0,0-2.9-.9q1.42-1.25,2.88-2.4a17.17,17.17,0,0,1-1.64-1.55c-1.76,1.48-3.47,3-5.13,4.68-2.46,2.43-3.26,6.67-1.77,9.44A6.57,6.57,0,0,0,628.9,484.55Z"></path>
        </svg>
      </div>
    </div>
    <div #nameContainer class="mt-2 relative z-[100] flex flex-col items-center justify-center opacity-0">
      <img #vilcabanaSvg src="../../../../../assets/svg/logo_full-cropped.svg" alt="Aldy_Intro2" class="h-30 sm:h-50">
    </div>
  </div>
</div>