<div
  *ngIf="open"
  @backdropAnim
  class="fixed inset-0 flex items-center justify-center backdrop-blur-sm z-50"
  (click)="close()"        
>

  <div
    @modalAnim
    class="relative bg-aldy-white shadow-xl p-6 max-w-lg w-full z-51"
    (click)="$event.stopPropagation()"  
  >
    <button
      (click)="close()"
      class="absolute top-3 right-3 cursor-pointer hover:bg-black/5 p-1"
    >
      <i class="fa-solid fa-xmark text-md text-aldy-green-gray-bold"></i>
    </button>

    <ng-content></ng-content>
  </div>
</div>
