<ng-container *ngIf="isMobileView; else desktopView">
  <div #cardRoot class="transition relative overflow-hidden flex flex-col">
    <a [routerLink]="['/producto', product.slug]" class="group block relative">
      <div class="relative w-full aspect-[4/5] overflow-hidden bg-aldy-white">
        <img *ngIf="displayImage || product.main_image" #mobileImage
             [ngSrc]="displayImage || product.main_image" 
             [alt]="product.name"
             width="400"
             height="500"
             priority
             class="w-full h-full cursor-pointer object-cover object-top"/>

        <button type="button" 
                aria-label="Añadir a favoritos" 
                (click)="toggleWishlist($event)"
                class="absolute top-2 right-2 z-10 cursor-pointer leading-none transition-colors focus:outline-none">
          <lucide-icon name="heart"
                       [ngClass]="product.wishlisted ? 'text-aldy-medium fill-current' : 'text-gray-300'">
          </lucide-icon>
        </button>
      </div>
      <div class="px-4 pt-3 pb-4">
        <h3 class="text-base font-semibold">{{ product.name }}</h3>
        <p class="text-sm font-main text-gray-600 mt-1">{{ product.description }}</p>
        <p class="text-sm">
          {{ product.price | currency:'ARS':'symbol-narrow':'1.2-2':'es-AR' }}
        </p>
      </div>
    </a>
    <div class="pb-4 px-4 flex gap-2 flex-wrap mt-auto">
      <button *ngFor="let color of product.variants" 
              (click)="selectColor(color.color_name)"
              [ngStyle]="{ backgroundColor: color.color_hex }" 
              [attr.aria-pressed]="selectedColor === color.color_name"
              class="w-5 h-5 transition-all rounded-[4px] border"
              [ngClass]="{
                'border-white border-2 ring-2 ring-gray-800 rounded-sm cursor-default': selectedColor === color.color_name,
                'border-transparent cursor-pointer': selectedColor !== color.color_name
              }" 
              [title]="color.isBase ? (color.color_name + ' (base)') : color.color_name" 
              aria-label="Elegir color">
      </button>
    </div>
  </div>
</ng-container>
<ng-template #desktopView>
  <div #cardRoot class="relative overflow-hidden group bg-aldy-white aspect-[3/4] sm:aspect-[3/4] md:aspect-[3/5] lg:aspect-[3/5] xl:aspect-[3/5]">
    <button type="button" [routerLink]="['/producto', product.slug]" class="absolute inset-0 z-0" appPanimationcard [disableHover]="isMobileView">
      <img
        #productImage
        [ngSrc]="currentImage"
        alt="{{ product.name }}"
        width="400"
        height="500"
        priority
        class="w-full h-full cursor-pointer object-cover object-top"
      />
      <img
        *ngIf="hoverImage"
        data-overlay-image
        [ngSrc]="hoverImage"
        alt="{{ product.name }}"
        width="400"
        height="500"
        priority
        class="absolute inset-0 w-full h-full object-cover object-top pointer-events-none"
        style="opacity:0"
      />
    </button>
    <div appMoveupFade class="absolute inset-0 flex items-end z-10 pointer-events-none">
      <div class="w-full bg-aldy-white space-y-3 p-4 m-3 pointer-events-auto">
        
        <div class="w-full flex justify-between items-center">
          <h3 class="text-xl NewAldyTitle text-aldy-green-gray-bold">{{ product.name }}</h3>

          <button type="button" aria-label="Añadir a favoritos" (click)="toggleWishlist($event)"
            class="cursor-pointer leading-none transition-colors focus:outline-none z-10">
            <lucide-icon [strokeWidth]="3" [size]="20" 
              name="heart"
              [ngClass]="product.wishlisted ? 'text-aldy-medium fill-current' : 'text-gray-300'">
            </lucide-icon>
          </button>
        </div>
        <p class="text-sm font-light NewAldyFontType4 text-aldy-green-gray-bold">
          {{ product.price | currency:'ARS':'symbol-narrow':'1.2-2':'es-AR' }}
        </p>
        <div class="flex w-full items-center justify-between">
          <div class="flex items-center flex-wrap gap-2">
            <ng-container *ngFor="let size of product.sizes">
              <button (click)="selectSize(size)"
                class="text-sm sm:text-sm font-light px-3 py-1 border-b-2 transition-all cursor-pointer" [ngClass]="{
                  'border-aldy-medium text-aldy-medium font-semibold': selectedSize === size,
                  'border-transparent text-aldy-green-gray tracking-wider hover:border-gray-400': selectedSize !== size
                }">
                {{ size }}
              </button>
            </ng-container>
          </div>
          <div class="flex gap-2 flex-wrap">
            <button *ngFor="let color of product.variants" (click)="selectColor(color.color_name)"
              [ngStyle]="{ backgroundColor: color.color_hex }" 
              [attr.aria-pressed]="selectedColor === color.color_name"
              class="w-5 h-5 transition-all rounded-[4px] border"
              [ngClass]="{
                'border-white border-2 ring-2 ring-aldy-medium-2 rounded-xs cursor-default': selectedColor === color.color_name,
                'border-transparent cursor-pointer': selectedColor !== color.color_name
              }" 
              [title]="color.isBase ? (color.color_name + ' (base)') : color.color_name" 
              aria-label="Elegir color">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
