<section>
  <app-dual-section></app-dual-section>
</section>
<section class="max-w-screen-3xl mx-auto">
  <div class="mt-7">
    <app-about-sec-home [AboutData]="bloquesSobreMi"></app-about-sec-home>
  </div>
</section>
<section class="max-w-screen-3xl mx-auto">
  <div class="mt-7">
<app-bettercustom-dual
  [imageUrl]="'https://picsum.photos/id/1015/800/600'"
  [title]="'Es Perfecto para mi'"
  [contentTestimonial]="'adlkaskdlaskdasldklasklfkaslkfjaskfjasofjasljdaskdjalskjdlkasjdlkasjdklajslkdjaskldjalksjdlkasjdlkasjdklasjdlkasjdklasjdlkajsdklasjdalksdjalksdjalaskdjklasdjlaksjdalskjskldjasdklajsdlkasdjklasdjklasdjkdsdsadasdasdadassdasdasdasdasdasdasdsadasdadasdas'"
  [extraContent]="'Novia 1'"
  [imageWidth]="'50%'"
  [textWidth]="'50%'"
  [mobileOrder]="'text-first'"
  [desktopOrder]="'image-first'"
  [height]="'430px'"
  [mobileHeight]="'auto'"
  [CommentsTestimonial]="true"
/>
<app-bettercustom-dual
  [imageUrl]="'https://picsum.photos/id/1016/800/600'"
  [title]="'text2'"
  [contentTestimonial]="'adlkaskdlaskdasldklasklfkaslkfjaskfjasofjasljdaskdjalskjdlkasjdlkasjdklajslkdjaskldjalksjdlkasjdlkasjdklasjdlkasjdklasjdlkajsdklasjdalksdjalksdjalaskdjklasdjlaksjdalskj'"
  [extraContent]="'Novia 2'"
  [imageWidth]="'50%'"
  [textWidth]="'50%'"
  [mobileOrder]="'text-first'"
  [desktopOrder]="'text-first'"
  [height]="'650px'"
  [mobileHeight]="'auto'"
  [CommentsTestimonial]="true"
/>
<app-bettercustom-dual
  [imageUrl]="'https://picsum.photos/id/1056/800/600'"
  [title]="'text 3'"
  [contentTestimonial]="'adlkaskdlaskdasldklasklfkaslkfjaskfjasofjasljdaskdjalskjdlkasjdlkasjdklajslkdjaskldjalksjdlkasjdlkasjdklasjdlkasjdklasjdlkajsdklasjdalksdjalksdjalaskdjklasdjlaksjdalskj'"
  [extraContent]="'Novia 3'"
  [imageWidth]="'50%'"
  [textWidth]="'50%'"
  [mobileOrder]="'text-first'"
  [desktopOrder]="'image-first'"
  [height]="'400px'"
  [mobileHeight]="'auto'"
  [CommentsTestimonial]="true"
/>





  </div>
</section>