<section>
  <app-dual-section></app-dual-section>
</section>
<section class="my-7">
  <app-dinamic-titles 
    [text]="'Aldana Vilcabana nace del impulso libre y sin límites, creando vestidos nupciales y de alta costura que reinventan el lujo a través del tiempo, fusionando elegancia y autenticidad en cada detalle.'"
    [isParagraph]="true"
    [size]="'base'"
    [weight]="'normal'"
    [align]="'center'"
    [textColor]="'text-gray-700'"
    [backgroundColor]="'bg-aldy-primary-100'"
    [backgroundMarginX]="'mx-4 sm:mx-6 lg:mx-10'"
    [highlightWords]="[
      { word: 'Aldana Vilcabana', classes: 'italic sm:text-xl lowercase' },
      { word: 'creando', classes: 'italic sm:text-xl lowercase' },
      { word: ' el lujo', classes: 'italic sm:text-xl lowercase' },
      { word: 'de alta costura', classes: 'italic sm:text-xl lowercase' },
      { word: 'elegancia y autenticidad', classes: 'italic sm:text-xl lowercase' },
    ]"
    [containerMaxWidth]="'max-w-sm'"
    [containerResponsiveClasses]="'sm:max-w-sm lg:max-w-sm sm:text-xl timesRoman uppercase'"
  />
</section>

<section class="max-w-screen-3xl mx-auto">
  <div class="mt-7">
    <app-about-sec-home [AboutData]="bloquesSobreMi"></app-about-sec-home>
  </div>  
</section>  

<section class="max-w-screen-3xl mx-auto">
  <div class="mt-7">
<app-bettercustom-dual
  [imageUrl]="'https://picsum.photos/id/1015/800/600'"
  [title]="'Es Perfecto para mi'"
  [contentTestimonial]="'adlkaskdlaskdasldklasklfkaslkfjaskfjasofjasljdaskdjalskjdlkasjdlkasjdklajslkdjaskldjalksjdlkasjdlkasjdklasjdlkasjdklasjdlkajsdklasjdalksdjalksdjalaskdjklasdjlaksjdalskjskldjasdklajsdlkasdjklasdjklasdjkdsdsadasdasdadassdasdasdasdasdasdasdsadasdadasdas'"
  [extraContent]="'Novia 1'"
  [imageWidth]="'50%'"
  [textWidth]="'50%'"
  [mobileOrder]="'text-first'"
  [desktopOrder]="'image-first'"
  [height]="'430px'"
  [mobileHeight]="'auto'"
  [CommentsTestimonial]="true"
/>
<app-bettercustom-dual
  [imageUrl]="'https://picsum.photos/id/1016/800/600'"
  [title]="'text2'"
  [contentTestimonial]="'adlkaskdlaskdasldklasklfkaslkfjaskfjasofjasljdaskdjalskjdlkasjdlkasjdklajslkdjaskldjalksjdlkasjdlkasjdklasjdlkasjdklasjdlkajsdklasjdalksdjalksdjalaskdjklasdjlaksjdalskj'"
  [extraContent]="'Novia 2'"
  [imageWidth]="'50%'"
  [textWidth]="'50%'"
  [mobileOrder]="'text-first'"
  [desktopOrder]="'text-first'"
  [height]="'650px'"
  [mobileHeight]="'auto'"
  [CommentsTestimonial]="true"
/>
<app-bettercustom-dual
  [imageUrl]="'https://picsum.photos/id/1056/800/600'"
  [title]="'text 3'"
  [contentTestimonial]="'adlkaskdlaskdasldklasklfkaslkfjaskfjasofjasljdaskdjalskjdlkasjdlkasjdklajslkdjaskldjalksjdlkasjdlkasjdklasjdlkasjdklasjdlkajsdklasjdalksdjalksdjalaskdjklasdjlaksjdalskj'"
  [extraContent]="'Novia 3'"
  [imageWidth]="'50%'"
  [textWidth]="'50%'"
  [mobileOrder]="'text-first'"
  [desktopOrder]="'image-first'"
  [height]="'400px'"
  [mobileHeight]="'auto'"
  [CommentsTestimonial]="true"
/>
  </div>
</section>
<section class="py-6">
  <app-dinamic-titles
    [text]="'Siguenos en @Aldana Vilcabana'"
    [level]="2"
    [size]="'2xl'"                     
    [weight]="'medium'"
    [italic]="false"
    [align]="'center'"
    [textColor]="'text-gray-700'"
    [responsiveClasses]="'text-xl sm:text-xl md:text-2xl lg:text-2xl timesRoman'">
  </app-dinamic-titles>
</section>

<section class="max-w-screen-3xl mx-auto">
  <div>
    <app-reels-section></app-reels-section>
  </div>
 </section>