<section>
  <app-triplesection></app-triplesection>
</section>
<section class="relative mx-auto max-w-screen bg-aldy-medium overflow-hidden">
</section>
<section class="relative w-full bg-aldy-white overflow-hidden">
  <div class="absolute inset-y-0 right-0 w-[38%] hidden sm:flex items-stretch">
    <div class="absolute inset-0 bg-gradient-to-r from-aldy-white via-aldy-white/60 to-transparent z-10"></div>
    <img src="../../../../../assets/images/sections/signature/signature.png" alt=""
      class="w-full h-full object-cover object-center">
  </div>
  <div class="relative z-10
    flex flex-col items-center text-center
    min-h-[180px]
    sm:min-h-[220px]
    px-6 sm:py-4 py-6 sm:py-10">
    <p appWordReveal class="NewAldyTitle
      text-aldy-green-gray
      italic
      max-w-xs
      lg:max-w-2xl
      sm:max-w-sm
      text-[1.2rem]
      sm:text-[1.4rem]
      lg:leading-snug
      sm:leading-5
      leading-4">
      "Creo con pasi<span class="NewAldyFontTypeAccent">ó</span>n,
      dise<span class="NewAldyFontTypeAccent">ñ</span>o con honestidad
      para que seas tu misma".
    </p>

    <div class="flex items-center gap-2 mt-2 lg:mt-0">
      <div class="w-16 h-px bg-aldy-green-gray"></div>
      <img src="../../../../../assets/svg/logos-03.svg" alt="AV" class="w-8 opacity-100">
      <div class="w-16 h-px bg-aldy-green-gray"></div>
    </div>

    <img src="../../../../../assets/images/firma2.png" alt="aldy_asignature" class="mt-3 w-16 sm:w-20 object-contain">
  </div>
  <div class="relative sm:hidden">
    <div class="absolute inset-0 z-10
    bg-gradient-to-br
    from-aldy-white/95
    via-aldy-white/40
    to-transparent">
    </div>
    <img src="../../../../../assets/images/sections/signature/signature_mobile.png" alt="aldy_asignature"
      class="w-full object-contain block">
  </div>
</section>
<div class="relative mb-2 z-10">
  <app-about-sec-home></app-about-sec-home>
</div>
<section class="py-6">
  <div class="px-4 sm:px-6 lg:px-12 xl:px-16 2xl:px-24">
    <div class="flex items-center justify-center gap-3 mb-3 w-full">
      <div class="w-[120px] sm:w-[200px] h-px bg-aldy-green-gray/30 -translate-y-[1px]"></div>
      <p class="NewAldyTitle text-aldy-green-gray text-lg tracking-[0.35em] font-light uppercase leading-none">
        REELS
      </p>
      <div class="w-[120px] sm:w-[200px] h-px bg-aldy-green-gray/30 -translate-y-[1px]"></div>
    </div>
  </div>
</section>
<section class="max-w-screen-3xl mx-auto">
  <div>
    <app-reels-section></app-reels-section>
  </div>
</section>
<div class="py-6">
  <div class="h-[32px]"></div>
</div>