<div class="fixed left-0 bottom-0 group pointer-events-none z-[8000] transform-gpu select-none isolate
         transform transition-transform
         duration-1000
         ease-[cubic-bezier(.22,1,.36,1)]" [ngClass]="{
    'translate-x-[-300px] translate-y-[300px]': leafHidden,
    'translate-x-0 translate-y-0': !leafHidden
  }">
  <div class="relative w-[150px] h-[150px]">
    <!-- TRIÁNGULO -->
    <div (click)="openLeafModal()" class="absolute bottom-0 left-0 w-0 h-0
             border-t-[140px] border-l-[140px]
             border-t-transparent border-l-aldy-white
             transition-all duration-400 ease-out
             group-hover:border-t-[165px]
             group-hover:border-l-[165px]
             pointer-events-auto cursor-pointer">
    </div>
    <div (click)="openLeafModal()" class="absolute bottom-5 left-3
             transform rotate-45 text-center
             transition-all duration-400 ease-out
             group-hover:bottom-8
             group-hover:left-6
             pointer-events-auto cursor-pointer">
      <span class="block NewAldyFontType4 text-aldy-green-gray-bold text-2xl leading-none">
        10%
      </span>
      <span class="block NewAldyFontType4 text-aldy-green-gray-bold text-xs">
        Descuento
      </span>
        </div>
    <button (click)="closeLeaf()" class="absolute bottom-4 left-[130px]
             w-5 h-5 rounded-full
             bg-black text-white
             flex items-center justify-center
            text-xs font-bold
             pointer-events-auto cursor-pointer
             transition-all duration-400 ease-out
             group-hover:bottom-7
             group-hover:left-[145px]">
      ✕
    </button>
  </div>
</div>
<app-modalv2
  [(open)]="modalOpen"
  (openChange)="!$event && onModalClose()"
  Mostyles="p-0 rounded-2xl w-[92%] sm:w-[88%] md:w-[80%] lg:w-full max-w-[700px]
            h-[620px] lg:h-[500px] overflow-hidden mx-auto my-6 md:my-0"
>
  <div class="flex flex-col lg:flex-row h-full">

    <!-- IMAGEN -->
    <div class="w-full lg:w-1/2 h-[310px] lg:h-full">
      <img
        src="../../../../../assets/images/others/about2.jpg"
        alt="Aldana Vilcabana"
        class="w-full h-full object-cover"
      />
    </div>

    <!-- CONTENIDO -->
    <div class="w-full lg:w-1/2 h-[310px] lg:h-full bg-aldy-white
                px-5 sm:px-8 py-6 lg:px-12 lg:py-8
                flex flex-col justify-center overflow-y-hidden">

      <div class="w-full max-w-[320px] lg:max-w-[330px] mx-auto
                  space-y-4 lg:space-y-6">

        <!-- LOGO + TITULO -->
        <div class="text-center">
          <img src="../../../../../assets/svg/logo-4.svg"
               alt="Aldana Vilcabana"
               class="mx-auto mb-4 lg:mb-7 h-9 sm:h-10 lg:h-12" />

          <h2 class="text-base sm:text-lg lg:text-xl
                     text-aldy-green-gray NewAldyTitle leading-snug">
            Suscribite y obtené 10% OFF en tu primera compra ✨
          </h2>
        </div>

        <!-- FORM -->
        <form (submit)="onSubscribe(emailInput.value); $event.preventDefault()" class="flex flex-col">
          <input
            #emailInput
            type="email"
            required
            placeholder="Ingresá tu correo electrónico"
            class="w-full border border-aldy-medium NewAldyFontType4
                   px-4 py-2.5 lg:py-3
                   text-xs tracking-widest mb-3 lg:mb-5
                   focus:outline-none focus:ring-1 focus:ring-aldy-white"
          />
          <button
            class="w-full bg-aldy-medium text-white cursor-pointer
                   NewAldyFontType4 font-light uppercase
                   text-[10px] lg:text-[11px]
                   tracking-[0.25em] lg:tracking-[0.3em]
                   py-2.5 lg:py-3
                   hover:opacity-90 transition"
          >
            Subscribirse
          </button>
        </form>

        <!-- TEXTO -->
        <div class="text-center">
          <p class="text-[10px] lg:text-[11px]
                    NewAldyFontType4 text-aldy-green-gray
                    leading-relaxed mb-2 lg:mb-6">
            Recibí novedades exclusivas, nuevos lanzamientos y el
            universo creativo de Aldana Vilcabana.
          </p>
          <p class="text-[9px] lg:text-[10px]
                    NewAldyFontType4 text-aldy-green-gray">
            *Podés darte de baja en cualquier momento.
          </p>
        </div>

      </div>
    </div>

  </div>
</app-modalv2>
