<div
  class="px-4 py-2 sm:px-6 bg-aldy-white lg:px-12 xl:px-16 2xl:px-24 inline-flex justify-between items-center w-full">
  <button type="button" (click)="toggleFilters()"
    class="inline-flex text-xs NewAldyFontType4 gap-2 items-center border cursor-pointer border-aldy-medium-2 px-6 py-3 tracking-wider font-medium uppercase transition-all duration-300 text-aldy-green-gray ease-in-out hover:bg-aldy-medium-2 hover:text-white">
    <lucide-icon name="Funnel" class="h-4 w-4"></lucide-icon>
    <span>{{ showFilters ? 'Ocultar filtros' : 'Mostrar filtros' }}</span>
    <lucide-icon [name]="showFilters ? 'Plus' : 'Minus'" class="h-4 w-4"></lucide-icon>
  </button>
  <div #productsControls id="productsControls" class="w-40 h-auto justify-end gap-2 hidden lg:flex">
    <button type="button" (click)="setProductColumns(2)" [ngClass]="productColumns === 2 ? 'bg-aldy-medium-2' : ''"
      class="group py-[7px] px-2 hover:bg-aldy-medium-2 transition-all duration-300 ease-in-out cursor-pointer border border-aldy-medium-2">
      <div class="grid grid-cols-2 gap-[2px] grid-rows-2">
        @for (n of [1,2,3,4]; track n) {
        <span class="h-[12px] w-[12px] transition-all duration-300 ease-in-out"
          [ngClass]="productColumns === 2 ? 'bg-aldy-white' : 'bg-aldy-medium-2 group-hover:bg-aldy-white'"></span>
        }
      </div>
    </button>

    <button type="button" (click)="setProductColumns(3)" [ngClass]="productColumns === 3 ? 'bg-aldy-medium-2' : ''"
      class="group py-[7px] px-2 hover:bg-aldy-medium-2 transition-all duration-300 ease-in-out cursor-pointer border border-aldy-medium-2">
      <div class="grid grid-cols-3 gap-[2px] grid-rows-3">
        @for (n of [1,2,3,4,5,6,7,8,9]; track n) {
        <span class="h-[8px] w-[8px] transition-all duration-300 ease-in-out"
          [ngClass]="productColumns === 3 ? 'bg-aldy-white' : 'bg-aldy-medium-2 group-hover:bg-aldy-white'"></span>
        }
      </div>
    </button>

    <button type="button" (click)="setProductColumns(4)" [ngClass]="productColumns === 4 ? 'bg-aldy-medium-2' : ''"
      class="group py-[7px] px-2 hover:bg-aldy-medium-2 transition-all duration-300 ease-in-out cursor-pointer border border-aldy-medium-2">
      <div class="grid grid-cols-4 gap-[2px] grid-rows-4">
        @for (n of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]; track n) {
        <span class="h-[5px] w-[5px] transition-all duration-300 ease-in-out"
          [ngClass]="productColumns === 4 ? 'bg-aldy-white' : 'bg-aldy-medium-2 group-hover:bg-aldy-white'"></span>
        }
      </div>
    </button>
  </div>
</div>
<div class="w-full border-b bg-aldy-white border-[#d9e2d8] mb-2 relative">
  <app-loadingbar [loading]="loading"></app-loadingbar>
</div>
<div class="px-4 bg-aldy-white sm:px-6 lg:px-12 xl:px-16 2xl:px-24 py-2 w-full">
  <div class="max-w-screen-3xl mx-auto">

    <div #storeLayout class="flex flex-col lg:flex-row relative transition-all duration-500 ease-in-out"
      [ngClass]="{ 'gap-4': showFilters && !isMobileView, 'gap-0': !showFilters || isMobileView }">

      <app-filter-old
        [(showFilters)]="showFilters"
        [isMobileView]="isMobileView"
        [loading]="loading"
        [topCollections]="topCollections"
        [topBridesCollections]="topBridesCollections"
        [isBridalView]="isBridalView"
        [allowedSizes]="allowedSizes"
        [allProducts]="allProducts"
        [categories]="categories"
        [pretAPorterCategories]="pretAPorterCategories"
        [noviasCategories]="noviasCategories"
        [(selectedCategories)]="selectedCategories"
        [(selectedSubcategoriesMap)]="selectedSubcategoriesMap"
        [(selectedSizes)]="selectedSizes"
        [(priceMin)]="priceMin"
        [(priceMax)]="priceMax"
        [(selectedCollectionId)]="selectedCollectionId"
        [(selectedBridesCollectionId)]="selectedBridesCollectionId"
        [(activeCategoryScope)]="activeCategoryScope"
        [(pretAPorterOpen)]="pretAPorterOpen"
        [(noviasOpen)]="noviasOpen"
        (applyFilters)="applyFiltersAction($event)"
        (clearFiltersAction)="clearFilters()"
        (loadBridesProductsAction)="loadBridesProductsFromFilter()"
      ></app-filter-old>

      <div #productsContainer class="transition-all duration-500 ease-in-out relative w-full h-auto w-auto sm:w-full">
        @if (loading) {
        <div
          class="absolute inset-0 flex items-center justify-center h-1/2 sm:h-full bg-aldy-white backdrop-blur-[1px] z-20">
          <div class="spinner"></div>
        </div>
        }
        @if (!loading && filteredProducts.length === 0) {
        <p
          class="text-center NewAldyFontType4 text-xs uppercase py-12 text-aldy-green-gray-bold flex justify-center items-center h-full">
          No hay productos para mostrar.
        </p>
        }
        @if (!loading && filteredProducts.length > 0) {
        <div [@gridAnimation]="productColumns" class="grid gap-5 transition-all duration-500 ease-in-out" [ngClass]="[
            productColumns === 2
              ? 'grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 mx-0 xl:mx-60'
              : '',
            productColumns === 3 ? 'grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 mx-0' : '',
            productColumns === 4 ? 'grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mx-0' : ''
          ]">
          @for (product of pagedProducts; track trackByProductId($index, product)) {
          <app-cardproduct [product]="product" [selectedColor]="selectedColors[product.id]"
            [displayImage]="product.main_image" [mobileMode]="'ismobile'" [desktopMode]="'isdesktop'"
            (colorSelected)="selectColor($event)">
          </app-cardproduct>
          }
        </div>
        }
        <div>
          @if (!loading && filteredProducts.length > 0) {
          <app-paginator class="pt-4 w-full justify-center flex" [currentPage]="currentPage" [totalPages]="totalPages"
            (pageChange)="goToPage($event)">
          </app-paginator>
          }
        </div>
      </div>
    </div>
  </div>
</div>