<div class="flex flex-col lg:flex-row gap-4">
    <aside class="w-full lg:w-1/6 lg:me-2">
  <p-accordion>
    <!-- Marca -->
    <p-accordionTab header="Marca">
      <div *ngFor="let brand of ['Todas', 'colab 1', 'colab 2', 'colab 3']; let i = index" class="flex items-center mb-2">
        <input
          type="checkbox"
          [id]="'brand-' + i"
          [value]="brand"
          [(ngModel)]="selectedBrands"
          name="brands"
          class="hidden peer"
        />
        <label
          [for]="'brand-' + i"
          class="relative flex items-center cursor-pointer select-none text-sm text-gray-700"
        >
          <span
            class="w-5 h-5 mr-2 inline-block border border-gray-400 rounded-sm
                   peer-checked:bg-aldy-primary-600 peer-checked:border-aldy-primary-600
                   flex items-center justify-center transition duration-200 hover:border-aldy-primary-600"
          >
            <span
              class="text-white text-xs font-bold peer-checked:inline-block hidden scale-90"
            >✓</span>
          </span>
          {{ brand }}
        </label>
      </div>
    </p-accordionTab>

    <!-- Precio -->
    <p-accordionTab header="Precio">
      <p-slider [(ngModel)]="priceRange" [min]="0" [max]="4300" [range]="true"></p-slider>
      <div class="flex justify-between text-sm mt-2">
        <span>ARS ${{ priceRange[0] }}</span>
        <span>ARS ${{ priceRange[1] }}</span>
      </div>
    </p-accordionTab>

    <!-- Disponibilidad -->
    <p-accordionTab header="Disponibilidad">
      <div *ngFor="let stock of ['En stock', 'Agotado', 'Preventa']; let i = index" class="flex items-center mb-2">
        <input
          type="checkbox"
          [id]="'stock-' + i"
          [value]="stock"
          [(ngModel)]="selectedStock"
          name="stock"
          class="hidden peer"
        />
        <label
          [for]="'stock-' + i"
          class=""
        >
          {{ stock }}
        </label>
      </div>
      <input type="checkbox" name="asdas" id="">
    </p-accordionTab>

    <!-- Categoría -->
    <p-accordionTab header="Categoría">
      <div *ngFor="let category of ['Ropa', 'Accesorios', 'Calzado', 'Abrigos', 'Pantalones']; let i = index" class="flex items-center mb-2">
        <input
          type="checkbox"
          [id]="'cat-' + i"
          [value]="category"
          [(ngModel)]="selectedCategories"
          name="categories"
          class="hidden peer"
        />
        <label
          [for]="'cat-' + i"
          class="relative flex items-center cursor-pointer select-none text-sm text-gray-700"
        >
          <span
            class="w-5 h-5 mr-2  border border-gray-400 rounded-sm
                   peer-checked:bg-aldy-primary-600 peer-checked:border-aldy-primary-600
                   flex items-center justify-center transition duration-200 hover:border-aldy-primary-600"
          >
            <span
              class="text-white text-xs font-bold peer-checked:inline-block hidden scale-90"
            >✓</span>
          </span>
          {{ category }}
        </label>
      </div>
    </p-accordionTab>
  </p-accordion>

  <!-- Botones -->
  <div class="flex gap-2 mt-4">
    <button
      type="button"
      class="flex items-center justify-center px-4 py-2 rounded-md transition duration-150 ease-in-out
             text-gray-700 text-sm md:text-base xl:text-base font-medium
             bg-gray-200 hover:bg-gray-300
             focus:ring-4 focus:ring-gray-100
             shadow-md hover:shadow-lg cursor-pointer w-full"
    >
      Limpiar
    </button>
    <button
      type="button"
      class="flex items-center justify-center px-4 py-2 rounded-md transition duration-150 ease-in-out
             text-white text-sm md:text-base xl:text-base font-medium
             bg-aldy-primary-600 hover:bg-aldy-primary-700
             focus:ring-4 focus:ring-aldy-primary-200
             shadow-md hover:shadow-lg cursor-pointer w-full"
    >
      Buscar
    </button>
  </div>
</aside>

    <main class="w-full lg:w-5/6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        <div *ngFor="let product of products"
            class="rounded-sm border-1 border-gray-200 shadow-md transition relative overflow-hidden  flex flex-col">
            <button type="button" aria-label="Añadir a favoritos" (click)="toggleWishlist(product)"
                class="absolute z-5 top-3 right-3 text-xl cursor-pointer leading-none transition-colors focus:outline-none">
                <i class="fa-solid fa-heart" [ngClass]="{
            'text-aldy-primary-600': product.wishlisted,
            'text-gray-300': !product.wishlisted
          }"></i>
            </button>
            <div class="relative shadow-sm rounded-t-sm h-72 flex items-center justify-center overflow-hidden">
                <img [src]="product.image" [alt]="product.name" class="h-full w-full object-cover" />
            </div>
            <div class="px-4 pb-4">
                <h3 class="text-sm sm:text-base md:text-lg font-medium mt-3">{{ product.name }}</h3>
                <p class="text-xs sm:text-sm text-gray-600 mt-1">{{ product.description }}</p>
                <p class="text-sm sm:text-base font-bold mt-1">ARS ${{ product.price }}</p>
                <div class="mt-3 flex gap-2">
                    <button *ngFor="let color of product.colors" (click)="selectColor(product.id, color)"
                        [ngStyle]="{ backgroundColor: color }" class="w-5 h-5 rounded-sm transition-all border"
                        [ngClass]="{
    'border-white border-2 ring-2 ring-gray-800 cursor-default': selectedColors[product.id] === color,
    'border-transparent cursor-pointer': selectedColors[product.id] !== color
  }" aria-label="Elegir color"></button>
                </div>
            </div>
        </div>
    </main>
</div>