<p-floatLabel variant="on" class="w-full" pSize="small">
  <div class="w-full">
    <p-password
      [ngModel]="value"
      (ngModelChange)="onInput($event)"
      [feedback]="true"
      [toggleMask]="true"
      autocomplete="off"
    pSize="small"
      inputId="password"
      class="w-full"
    >
      <ng-template #header>
        <div class="font-semibold text-sm mb-4">Elige una contraseña</div>
      </ng-template>
      <ng-template #footer>
        <p-divider></p-divider>
        <ul class="pl-2 ml-2 my-0 leading-normal text-xs">
          <li>Al menos una minúscula</li>
          <li>Al menos una mayúscula</li>
          <li>Al menos un número</li>
          <li>Mínimo 8 caracteres</li>
        </ul>
      </ng-template>
    </p-password>
  </div>
  <label for="password">{{ placeholder }}</label>
</p-floatLabel>
