<div class="card flex justify-center">
  <p-password
    [formControlName]="formControlName"
    [feedback]="true"
    [toggleMask]="true"
    autocomplete="off"
    styleClass="w-full"
  >
    <ng-template #header>
      <div class="font-semibold text-sm mb-4">Elige una contraseña</div>
    </ng-template>
    <ng-template #footer>
      <p-divider></p-divider>
      <ul class="pl-2 ml-2 my-0 leading-normal text-xs">
        <li>Al menos una minúscula</li>
        <li>Al menos una mayúscula</li>
        <li>Al menos un número</li>
        <li>Mínimo 8 caracteres</li>
      </ul>
    </ng-template>
  </p-password>

  <p *ngIf="control?.invalid && (control?.dirty || control?.touched)" class="text-sm text-red-600 mt-1">
    <span *ngIf="control?.errors?.['required']">La contraseña es obligatoria</span>
  </p>
</div>
