<div class="p-4 sm:p-6 lg:p-8">
  <div class="mx-auto max-w-7xl">
    <div class="mb-8 px-1 flex items-center justify-between">
      <h1 class="text-lg aldyFont font-bold text-gray-900">
        Pedidos <span class="text-gray-500">({{ orders.length }})</span>
      </h1>
      <div>
        <div class="relative w-48"> 
          <app-selects 
              id="sort-orders" 
              label="Ordenar por" 
              [options]="sortOptions" 
              optionLabel="label"
              optionValue="value">
          </app-selects>
        </div>
      </div>
    </div>

    <!-- Lista paginada -->
    <div class="space-y-4 max-h-[65vh] overflow-y-auto p-1">
      <div *ngFor="let order of paginatedOrders" 
           class="hover:shadow-md transition-all duration-400 ease-in-out bg-white p-4 sm:p-6">
        <div class="flex items-center justify-between gap-6">
          <div class="grid flex-1 grid-cols-1 gap-4 sm:grid-cols-3">
            <div>
              <dt class="text-sm text-gray-500">ID del Pedido</dt>
              <dd class="mt-1 text-sm font-semibold text-gray-900">{{ order.id }}</dd>
            </div>
            <div>
              <dt class="text-sm text-gray-500">Fecha de creación</dt>
              <dd class="mt-1 text-sm text-gray-700">{{ order.creationDate }}</dd>
            </div>
            <div>
              <dt class="text-sm text-gray-500">Estado</dt>
              <dd class="mt-1 text-sm" [ngClass]="{
                  'text-green-600': order.status === 'Entregado',
                  'text-yellow-600': order.status === 'En camino',
                  'text-red-600': order.status === 'Cancelado'
                }">{{ order.status }}</dd>
            </div>
          </div>
          <div class="flex flex-col items-stretch space-y-2">
            <a href="#" class="border border-gray-300 bg-white px-3 py-2 text-center text-sm text-gray-700 shadow-sm hover:bg-gray-50">Ver detalles</a>
            <a href="#" class="transition-colors duration-500 ease-in-out border border-transparent bg-aldy-primary-500 px-3 py-2 text-center text-sm text-white shadow-sm hover:bg-aldy-primary-600">Seguir pedido</a>
            <a href="#" class="text-center transition-colors duration-500 ease-in-out text-sm text-aldy-primary-500 hover:text-aldy-primary-600">Factura</a>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-4 lg:pt-6">
      <app-paginator 
        *ngIf="orders.length >= 5"
        [totalItems]="orders.length"
        [pageSizeOptions]="[5, 10, 20]"
        [initialPageSize]="5"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)">
      </app-paginator>
    </div>
  </div>
</div>
