<div class="w-full max-w-xl mx-auto space-y-6">
  <div class="relative w-24 h-24">
    <img src="" alt="Profile" class="w-full h-full overflow-hidden bg-red-400 object-cover rounded-full" />
    <button type="button"
      class="absolute bottom-0 right-0 flex items-center justify-center w-8 h-8 bg-aldy-primary-500 hover:bg-aldy-primary-600 text-white rounded-full transition-colors duration-500 ease-in-out">
      <lucide-icon name="pencil" [size]="17" [strokeWidth]="1.75"></lucide-icon>
    </button>
  </div>
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-2 gap-6 mb-6">
      <div>
        <app-input id="firstName" label="Nombre*" [formControlName]="'firstName'"></app-input>
        <div *ngIf="accountForm.get('firstName')?.invalid && accountForm.get('firstName')?.touched" class="text-red-400 text-sm mt-1">
          El nombre es obligatorio
        </div>
      </div>
      <div>
        <app-input id="lastName" label="Apellido" [formControlName]="'lastName'"></app-input>
        <div *ngIf="accountForm.get('lastName')?.invalid && accountForm.get('lastName')?.touched" class="text-red-400 text-sm mt-1">
          El apellido es obligatorio
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-6 mb-6">
      <div>
        <app-input id="email" type="email" label="Correo" [formControlName]="'email'"></app-input>
        <div *ngIf="accountForm.get('email')?.invalid && accountForm.get('email')?.touched" class="text-red-400 text-sm mt-1">
          <span *ngIf="accountForm.get('email')?.errors?.['required']">El correo es obligatorio</span>
          <span *ngIf="accountForm.get('email')?.errors?.['email']">El formato de correo es incorrecto</span>
        </div>
      </div>
      <div>
        <app-input id="phone" label="Telefono" [formControlName]="'phone'" [numericMax11]="true"></app-input>
        <div *ngIf="accountForm.get('phone')?.invalid && accountForm.get('phone')?.touched" class="text-red-400 text-sm mt-1">
          El teléfono es obligatorio
        </div>
      </div>
      <div>
        <app-selects id="gender" label="Género" formControlName="gender" [options]="genderOptions" optionLabel="label" optionValue="value">
        </app-selects>
        <div *ngIf="accountForm.get('gender')?.invalid && accountForm.get('gender')?.touched" class="text-red-400 text-sm mt-1">
          Elegí una opción
        </div>
      </div>
    </div>
    <div class="flex justify-start mt-8 pt-4">
      <button type="submit" [disabled]="accountForm.invalid || accountForm.pristine" class="px-5 py-2 text-white transition-colors duration-400
        disabled:bg-gray-300
        enabled:bg-aldy-primary-500 enabled:hover:bg-aldy-primary-600">
        <span *ngIf="!isSaving">Guardar Cambios</span>
        <span *ngIf="isSaving" class="flex items-center justify-center">
          <svg class="animate-spin -ml-1 mr-2 h-4 w-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
          Guardando...
        </span>
      </button>
    </div>
  </form>
</div>
