<div class="px-4 bg-aldy-white sm:px-6 lg:px-12 xl:px-16 2xl:px-24 w-full">
  <div class="max-w-screen-3xl mx-auto">
    <div class="w-full py-20 px-2 flex flex-col items-center">
      <div class="max-w-6xl w-full grid grid-cols-1 md:grid-cols-2 gap-12 items-start">
        <div class="space-y-0 lg:space-y-8 px-4 lg:px-0">
          <h1 appWordReveal
            class="uppercase tracking-widest relative text-3xl text-center lg:text-start lg:text-5xl NewAldyTitle font-light text-aldy-green-gray-bold leading-relaxed">
            Cont<span class="text-[30px] lg:text-[49px] NewAldyFontTypeAccent relative -top-[1px]">á</span>ctanos
          </h1>
          <p appFadeUpLetter
            class="text-base lg:text-base text-center lg:text-start text-aldy-green-gray NewAldyFontType4 leading-8 whitespace-pre-wrap break-words">
            Gracias por confiar en nosotras. Es un honor poder acompañarte en este momento único.
            Si necesitás ayuda o querés hablar con alguien de nuestro equipo, podés enviarnos un mensaje a
            aldanavilcabana{{"@"}}gmail.com o completar el formulario que encontrarás aquí.
          </p>
        </div>
        <div class="bg-white shadow-md p-4 lg:p-8 space-y-6">
          <form appFadeUpLetter [formGroup]="contactForm" class="flex flex-col gap-4 w-full" (ngSubmit)="onSubmit()">

            <!-- Nombre -->
            <div>
              <app-input id="name" label="Nombre completo" formControlName="name"></app-input>

              @if (isInvalid('name')) {
                <div class="text-red-400 text-xs mt-1">
                  @if (contactForm.get('name')?.errors?.['required']) {
                    <span>
                      Por favor, ingresa tu nombre.
                    </span>
                  }
                  @if (contactForm.get('name')?.errors?.['minlength']) {
                    <span>
                      Debe tener al menos 2 caracteres.
                    </span>
                  }
                </div>
              }
            </div>

            <!-- Email -->
            <div>
              <app-input id="email" label="Correo electrónico*" formControlName="email"></app-input>

              @if (isInvalid('email')) {
                <div class="text-red-400 text-xs mt-1">
                  @if (contactForm.get('email')?.errors?.['required']) {
                    <span>
                      Por favor, ingresa tu correo electrónico.
                    </span>
                  }
                  @if (contactForm.get('email')?.errors?.['email']) {
                    <span>
                      Formato de correo inválido.
                    </span>
                  }
                </div>
              }
            </div>

            <!-- Teléfono -->
            <div>
              <app-input id="phone" label="Teléfono*" [numericMax11]="true" formControlName="phone"></app-input>

              @if (isInvalid('phone')) {
                <div class="text-red-400 text-xs mt-1">
                  @if (contactForm.get('phone')?.errors?.['required']) {
                    <span>
                      Por favor, ingresa tu teléfono.
                    </span>
                  }
                  @if (contactForm.get('phone')?.errors?.['pattern']) {
                    <span>
                      Número inválido.
                    </span>
                  }
                </div>
              }
            </div>

            <!-- Departamento -->
            <div>
              <app-selects id="department" label="Seleccioná un departamento" [options]="departments"
                formControlName="department">
              </app-selects>

              @if (isInvalid('department')) {
                <div class="text-red-400 text-xs mt-1">
                  Seleccioná un departamento.
                </div>
              }
            </div>

            <!-- Mensaje -->
            <div>
              <app-textarea id="message" label="Tu mensaje*" formControlName="message" [rows]="5"></app-textarea>

              @if (isInvalid('message')) {
                <div class="text-red-400 text-xs mt-1">
                  @if (contactForm.get('message')?.errors?.['required']) {
                    <span>
                      Escribí un mensaje.
                    </span>
                  }
                  @if (contactForm.get('message')?.errors?.['minlength']) {
                    <span>
                      Debe tener al menos 10 caracteres.
                    </span>
                  }
                </div>
              }
            </div>

            <!-- Botón -->
            <button type="submit"
              class="w-full bg-aldy-medium text-white text-xs tracking-widest py-3 uppercase hover:bg-aldy-medium-2 transition-colors duration-200">
              ENVIAR →
            </button>

          </form>
        </div>
      </div>
      <!-- Información Inferior -->
      <div class="w-full mt-16 flex justify-center">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 text-center max-w-4xl w-full">
          <!-- Columna Correo -->
          <div class="flex flex-col items-center space-y-2">
            <h2 appWordReveal
              class="text-lg lg:text-xl uppercase tracking-widest NewAldyTitle font-light text-aldy-green-gray-bold">
              Correo
            </h2>
            <p appFadeUpLetter class="text-base text-aldy-green-gray NewAldyFontType4 lg:text-base">
              aldanavilcabana{{"@"}}gmail.com
            </p>
          </div>
          <!-- Columna Teléfono -->
          <div class="flex flex-col items-center space-y-2">
            <h2 appWordReveal
              class="text-lg lg:text-xl leading-relaxed uppercase tracking-widest NewAldyTitle font-light text-aldy-green-gray-bold">
              Tel<span class="text-[21px] lg:text-[22px] NewAldyFontTypeAccent relative -top-[0.5px]">é</span>fono
            </h2>
            <p appFadeUpLetter class="text-base NewAldyFontType4 text-aldy-green-gray lg:text-base">+54 9 11 6408-2659
            </p>
          </div>
          <!-- Columna Síguenos -->
          <div class="flex flex-col items-center space-y-3">
            <h2 appWordReveal
              class="text-lg lg:text-xl uppercase tracking-widest NewAldyTitle font-light text-aldy-green-gray-bold">
              S<span class="text-[21px] lg:text-[22px] NewAldyFontTypeAccent relative -top-[0.5px]">í</span>guenos
            </h2>
            <div appFadeUpLetter class="flex items-center justify-center space-x-5 text-2xl text-aldy-medium">
              <a href="#" aria-label="Instagram"
                class="hover:text-aldy-medium-2 transition-all duration-300 hover:-translate-y-1">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#" aria-label="Facebook"
                class="hover:text-aldy-medium-2 transition-all duration-300 hover:-translate-y-1">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" aria-label="Pinterest"
                class="hover:text-aldy-medium-2 transition-all duration-300 hover:-translate-y-1">
                <i class="fab fa-pinterest-p"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-full bg-aldy-white pb-8 md:pb-10">
  <div class="grid grid-cols-1 md:grid-cols-7 xl:grid-cols-4 items-center">
    <div class="w-full overflow-hidden md:col-span-4 xl:col-span-3 order-1">
      <img appCardInitAnimation="up" src="../../../../../assets/images/others/contact2.jpg"
        alt="asesoramiento personalizado" class="w-full h-52 md:h-[400px] object-cover object-[50%_35%]"
        draggable="false" />
      </div>
      <div class="flex flex-col items-center text-center space-y-3 w-full md:col-span-3 xl:col-span-1 p-6 order-2">
        <h2 appWordReveal
          class="text-lg lg:text-xl uppercase tracking-widest NewAldyTitle font-light text-aldy-green-gray-bold">
          Asesoramiento
        </h2>
        <p appFadeUpLetter class="text-base NewAldyFontType4 lg:text-base text-aldy-green-gray leading-7 max-w-md">
          En Aldana Vilcabana brindamos una asesoría exclusiva para realzar tu estilo personal y resaltar tu esencia con
          elegancia.
        </p>
        <a appFadeUpLetter
          href="https://wa.me/5491164082659?text=Hola%2C%20vengo%20por%20una%20asesor%C3%ADa%20personalizada.%20%C2%BFPodr%C3%ADas%20pasarme%20los%20detalles%3F"
          target="_blank" rel="noopener noreferrer"
          class="bg-aldy-medium text-white text-xs tracking-widest py-2.5 px-5 uppercase hover:bg-aldy-medium-2 transition-colors duration-200 ease-in-out cursor-pointer inline-block">
          Reservar por WhatsApp
        </a>
      </div>
    </div>
  </div>