<div class="px-4 sm:px-6 lg:px-12 xl:px-16 2xl:px-24 w-full">
  <div class="max-w-screen-3xl mx-auto">
    <div class="w-full py-20 px-2 flex flex-col items-center">
      <div class="max-w-6xl w-full grid grid-cols-1 md:grid-cols-2 gap-12 items-start">
        <div class="space-y-8 px-4 lg:px-0">
          <p appWordReveal class="text-xs text-center lg:text-start uppercase tracking-widest text-aldy-medium font-semibold">
            Atención al cliente
          </p>
          <h1 appWordReveal
            class="uppercase tracking-widest text-3xl text-center lg:text-start lg:text-5xl NewAldyTitle font-light text-gray-900">
            Contactanos
          </h1>
          <p appFadeUpLetter
            class="text-base lg:text-base text-center lg:text-start text-gray-700 NewAldyFontType4 leading-8 whitespace-pre-wrap break-words">
            Gracias por confiar en nosotras. Es un honor poder acompañarte en este momento único.
            Si necesitás ayuda o querés hablar con alguien de nuestro equipo, podés enviarnos un mensaje a
            <strong>aldanavilcabana{{"@"}}gmail.com</strong> o completar el formulario que dejamos aquí.
          </p>
        </div>
        <!-- Formulario -->
        <div class="bg-white shadow-md p-4 lg:p-8 space-y-6">
          <form appFadeUpLetter [formGroup]="contactForm" class="flex flex-col gap-4 w-full" (ngSubmit)="onSubmit()">
            <app-input id="name" label="Nombre completo" formControlName="name"></app-input>
            <app-input id="email" label="Correo electrónico*" formControlName="email"></app-input>
            <app-input id="phone" label="Teléfono*" [numericMax11]="true" formControlName="phone"></app-input>
            <app-selects id="department" label="Seleccioná un departamento" [options]="departments"
              formControlName="department"></app-selects>
            <app-textarea id="message" label="Tu mensaje*" formControlName="message" [rows]="5"></app-textarea>
            <button type="submit"
              class="w-full bg-aldy-medium text-white text-xs tracking-widest py-3 uppercase hover:bg-aldy-medium-2 transition-colors duration-200 ease-in-out cursor-pointer">
              ENVIAR →
            </button>
          </form>
        </div>
      </div>
      <!-- Información Inferior -->
      <div class="w-full mt-16 flex justify-center">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 text-center max-w-4xl w-full">
          <!-- Columna Correo -->
          <div class="flex flex-col items-center space-y-2">
            <h2 appWordReveal
              class="text-lg lg:text-xl uppercase tracking-widest NewAldyTitle font-light text-gray-900">
              Correo
            </h2>
            <p appFadeUpLetter class="text-base NewAldyFontType4 lg:text-base">
              aldanavilcabana{{"@"}}gmail.com
            </p>
          </div>
          <!-- Columna Teléfono -->
          <div class="flex flex-col items-center space-y-2">
            <h2 appWordReveal
              class="text-lg lg:text-xl uppercase tracking-widest NewAldyTitle font-light text-gray-900">
              Teléfono
            </h2>
            <p appFadeUpLetter class="text-base NewAldyFontType4 lg:text-base">+54 9 11 6408-2659</p>
          </div>
          <!-- Columna Síguenos -->
          <div class="flex flex-col items-center space-y-3">
            <h2 appWordReveal
              class="text-lg lg:text-xl uppercase tracking-widest NewAldyTitle font-light text-gray-900">
              Síguenos
            </h2>
            <div appFadeUpLetter class="flex items-center justify-center space-x-5 text-2xl text-aldy-medium">
              <a href="#" aria-label="Instagram"
                class="hover:text-aldy-medium-2 transition-all duration-300 hover:-translate-y-1">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#" aria-label="Facebook"
                class="hover:text-aldy-medium-2 transition-all duration-300 hover:-translate-y-1">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" aria-label="Pinterest"
                class="hover:text-aldy-medium-2 transition-all duration-300 hover:-translate-y-1">
                <i class="fab fa-pinterest-p"></i>
              </a>
              <a href="#" aria-label="Twitter"
                class="hover:text-aldy-medium-2 transition-all duration-300 hover:-translate-y-1">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-full pb-8 md:pb-10">
  <div class="grid grid-cols-1 md:grid-cols-7 xl:grid-cols-4 items-center">
    <!-- Imagen -->
    <div class="w-full overflow-hidden md:col-span-4 xl:col-span-3 order-1">
      <img 
        src="../../../../../assets/images/about.webp" 
        alt="asesoramiento personalizado"
        class="w-full h-52 md:h-[400px] object-cover object-[50%_15%]"
        draggable="false"
      />
    </div>
    <!-- Texto -->
    <div class="flex flex-col items-center text-center space-y-3 w-full md:col-span-3 xl:col-span-1 p-6 order-2">
      <h2 
        appWordReveal 
        class="text-lg lg:text-xl uppercase tracking-widest NewAldyTitle font-light text-gray-900"
      >
        Asesoramiento
      </h2>
      <p 
        appFadeUpLetter 
        class="text-base NewAldyFontType4 lg:text-base text-gray-900 leading-7 max-w-md"
      >
        En Aldana Vilcabana brindamos asesoría exclusiva para realzar tu estilo personal y destacar tu esencia con elegancia.
      </p>
      <button
        appFadeUpLetter 
        class="bg-aldy-medium text-white text-xs tracking-widest py-2.5 px-5 uppercase hover:bg-aldy-medium-2 transition-colors duration-200 ease-in-out cursor-pointer"
      >
        Reservar Ahora
      </button>
    </div>
  </div>
</div>
