<div class="w-full flex justify-center pt-20 pb-10 px-4">
  <div class="max-w-xl w-full space-y-6">
    <h1 class="text-3xl text-center font-serif">Contáctanos</h1>

    <p class="text-sm text-center text-gray-700">
      Gracias por confiar en nosotras. Es un honor poder acompañarte en este momento único. Si necesitás ayuda o querés hablar con alguien de nuestro equipo, podés enviarnos un mensaje a <strong>aldanavilcabana{{"@"}}gmail.com</strong> o completar el formulario que dejamos más abajo.
    </p>
    
    <p class="text-sm text-center text-gray-700">
      Equipo de Atención al Cliente
    </p>
    
    

    <form [formGroup]="contactForm" class="flex-col inline-flex gap-4 w-full" (ngSubmit)="onSubmit()">
      <app-input
        id="name"
        label="Nombre completo"
        formControlName="name">
      </app-input>

      <app-input
        id="email"
        label="Correo electrónico*"
        formControlName="email">
      </app-input>

      <app-input
        id="phone"
        label="Teléfono*"
        [numericMax11]="true"
        formControlName="phone">
      </app-input>

      <app-selects
        id="department"
        label="Seleccioná un departamento"
        [options]="departments"
        formControlName="department">
      </app-selects>

      <app-textarea
        id="message"
        label="Tu mensaje*"
        formControlName="message"
        [rows]="5">
      </app-textarea>

      <button
        type="submit"
        class="w-full border border-gray-300 bg-[#f4f0ec] text-xs tracking-widest py-3 uppercase hover:opacity-80">
        ENVIAR
      </button>
    </form>
  </div>
</div>
