<div class="flex w-full justify-center lg:justify-end">   
  <div class="product-container relative w-full max-w-full sm:max-w-[100%] md:max-w-[90%] lg:max-w-[640px]"        
       [style.--f-thumb-width]="'75px'"        
       [style.--f-thumb-height]="'75px'"        
       [style.--aspect-ratio]="aspectRatio"        
       [style.--product-view-height]="'820px'">
        <div class="transition-opacity duration-[1000ms] ease-out" 
         [class.opacity-0]="!isComponentReady"
         [class.opacity-100]="isComponentReady">
      
      <div class="flex flex-col md:grid md:gap-2 md:grid-cols-[106px_minmax(0px,_1fr)] relative">
        
        <div class="hidden md:block thumbnail-indicators-container">
          <div *ngFor="let image of images; let i = index"
               class="thumbnail-indicator"
               [class.active]="isThumbActive(i)"
               [style.top.px]="i * (75 + 8) + (75 / 2) - (45 / 2) - 3"
               [style.height.px]="45">
            <div class="indicator-line"></div>
          </div>
        </div>
        
        <div class="f-carousel overflow-visible w-full md:order-last">
          <div *ngFor="let image of images"
               class="f-carousel__slide flex justify-center items-center w-full bg-white overflow-hidden"
               [attr.data-thumb-src]="image.thumb"
               [attr.data-fancybox]="'gallery'"
               [attr.data-src]="image.src">
            <div class="w-full h-full image-container">
              <img [attr.data-lazy-src]="image.src"
                   alt=""
                   class="w-full h-full object-cover object-top transition duration-300 ease-in-out cursor-pointer" />
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </div> 
</div>