.f-carousel {
  position: relative;
  background-color: #fff;
}

.f-button.is-prev,
.f-button.is-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 9999px;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 4px;
}
.f-button.is-prev {
  left: -1.75rem; 
}
.f-button.is-next {
  right: -1.75rem;
}


@media (max-width: 1023px) {
  .f-button.is-prev,
  .f-button.is-next {
    display: none;
  }
}


