<p-carousel
  id="hero-carousel"
  [value]="products"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [showIndicators]="true"
  [showNavigators]="true"
  [page]="currentIndex"
  (onPage)="onUserInteraction()"
  [autoplayInterval]="0"
  containerClass="!p-0 !m-0"
  contentClass="!gap-0"
  styleClass="!w-screen !h-screen"
  indicatorStyleClass="!bg-primary-500"
>
  <ng-template pTemplate="item" let-product>
    <div
      class="relative w-screen h-screen overflow-hidden flex items-center justify-center carousel-zoom-active"
      (click)="onUserInteraction()"
      (touchstart)="onUserInteraction()"
    >
      <img
        [src]="product.image"
        alt="{{ product.title }}"
        [ngClass]="{
          zooming: zooming,
          'reset-zoom': !zooming
        }"
        class="absolute inset-0 w-full h-full object-cover"
        loading="lazy"
      />
      <div class="absolute inset-0 bg-black/50"></div>
      <div
        class="relative flex items-center flex-col z-10 text-white text-center px-4 max-w-4xl"
      >
        <h3 class="text-2xl md:text-4xl lg:text-5xl font-bold mb-4">
          {{ product.title }}
        </h3>
        <p class="text-base w-[80%] md:w-[100%] md:text-lg lg:text-xl mb-6">
          {{ product.description }}
        </p>
        <div class="flex w-full justify-center">
          <button
            type="button"
            class="flex items-center gap-2 px-5 py-3 rounded-md transition duration-150 ease-in-out
                   text-white text-sm md:text-base xl:text-lg font-medium
                   bg-aldy-primary-600 hover:bg-aldy-primary-700
                   focus:ring-4 focus:ring-aldy-primary-200
                   shadow-md hover:shadow-lg cursor-pointer"
          >
            {{ product.button }}
            <i [ngClass]="product.icon" class="fa-solid text-sm md:text-base xl:text-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
