<div class="h-[72px] lg:h-[88px]"></div>

<section class="flex flex-col lg:flex-row lg:min-h-[calc(100vh-88px)] bg-aldy-white">

    <div class="w-full lg:w-1/2 h-auto lg:h-auto overflow-hidden">
        <img src="../../../../../assets/images/sections/misc/404_placeholder4.png" alt="404"
            class="w-full h-auto lg:h-full object-contain lg:object-cover lg:object-[60%_50%] xl:object-[30%_30%] select-none pointer-events-none">
    </div>

    <div class="w-full lg:w-1/2 flex flex-col justify-center items-center text-center px-6 sm:px-12 py-12 lg:py-16">

        <h1
            class="NewAldyTitle text-[64px] sm:text-[90px] md:text-[110px] lg:text-[140px] leading-none text-aldy-medium-2">
            404
        </h1>

        <p
            class="NewAldyTitle text-[24px] uppercase sm:text-[34px] lg:text-[36px]  xl:text-[46px] text-aldy-medium-2 -mt-1 sm:-mt-2">
            Página no encontrada
        </p>

        <div class="flex items-center gap-4 sm:gap-5 mt-5">
            <span class="w-12 sm:w-16 h-px bg-aldy-medium opacity-50"></span>
            <img src="../../../../../assets/svg/logos-03.svg" alt="AV" class="w-8 sm:w-10 opacity-70">
            <span class="w-12 sm:w-16 h-px bg-aldy-medium opacity-50"></span>
        </div>

        <p
            class="NewAldyFontType4 text-center mt-6 max-w-[380px] text-aldy-green-gray leading-6 xl:leading-7 tracking-wider text-sm xl:text-base">
            Parece que la página que buscas no existe.
            Pero no te preocupes, te ayudaremos a encontrar lo que buscas.
        </p>
        <button (click)="goHome()"
            class="NewAldyFontType4 mt-8 uppercase cursor-pointer sm:mt-10 bg-aldy-medium hover:bg-aldy-medium-2 transition-colors duration-300 px-10 sm:px-12 py-3.5 sm:py-4 tracking-[0.2em] text-aldy-white text-xs">
            Volver al inicio
        </button>

    </div>

</section>