<div
  class="relative w-full min-h-[80vh] sm:min-h-[70vh] md:min-h-screen overflow-hidden text-white flex items-center justify-center"
  id="location-section"
>
  <app-video
    src="assets/videos/Bsaaa.mp4"
    height="h-full"
    width="w-full"
    objectFit="object-cover"
    [autoplay]="true"
    [muted]="true"
    [showControls]="true"
    [gradientOverlay]="true"
    class="absolute inset-0 z-0"
  />
  <div class="relative z-10 flex flex-col items-center justify-center text-center px-6">
    <p class="text-sm md:text-base tracking-widest uppercase text-white font-main">En ubicación</p>
    <h1 class="titles text-3xl md:text-5xl font-bold mb-4 text-white">Buenos Aires, Argentina</h1>
    <p class="font-main text-base md:text-lg max-w-xl text-white">
      Una ciudad donde la elegancia europea se encuentra con la pasión latina. Rodeada de arte y encanto atemporal, es el lugar perfecto para dar vida a nuestra visión. Nuestra boutique forma parte de ese pulso creativo.
    </p>
    <button
      type="button"
      class="flex items-center gap-2 px-5 py-3 backdrop-blur-sm rounded-md transition duration-150 ease-in-out
             text-white text-sm md:text-base xl:text-lg 
             bg-aldy-primary-400 hover:bg-aldy-primary-500
             shadow-md hover:shadow-lg cursor-pointer mt-6">
      Ver ubicación
      <i class="fa-solid fa-map-marker-alt text-sm md:text-base xl:text-lg"></i>
    </button>
  </div>
</div>
