@import "tailwindcss";
@import "primeicons/primeicons.css";
@import '@fancyapps/ui/dist/carousel/carousel.css';
@import '@fancyapps/ui/dist/carousel/carousel.thumbs.css';

/* =========================
   THEME COLORS
========================= */
@theme {
  --color-aldy-primary-50: #f1fafa;
  --color-aldy-primary-100: #d7f1ef;
  --color-aldy-primary-200: #bae6e1;
  --color-aldy-primary-300: #9edbd5;
  --color-aldy-primary-400: #85ccc6;
  --color-aldy-primary-500: #6cbab4;
  --color-aldy-primary-600: #5ca29d;
  --color-aldy-primary-700: #4d8a86;
  --color-aldy-primary-800: #3f726f;
  --color-aldy-primary-900: #335c59;
  --color-aldy-primary-1000: #293d3b;

  --color-aldy-white: #FEF5EC;
  --color-aldy-light:#D2E4CC;
  --color-aldy-light-2: #A6B9A2;
  --color-aldy-medium:#AEC2A9;
  --color-aldy-medium-2: #97ad92;
  --color-aldy-bold: #778a72;
  --color-aldy-bold-2:#5f6e5b;
  --color-aldy-green-gray:#889287;
  --color-aldy-green-gray-bold:#7e887d;
  --color-aldy-prueba: #D2E4CC;
}

/* =========================
   FONTS
========================= */
@font-face {
  font-family: 'aldyfont';
  src: url('assets/fonts/Futura Lt BT Light.ttf') format('truetype');
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'NewAldyFont';
  src: url('./assets/fonts/Edensor-FREE.otf') format('truetype');
}

@font-face {
  font-family: 'NewAldyFontCursive';
  src: url('./assets/fonts/Hijrnotes_PERSONAL_USE_ONLY.ttf') format('truetype');
}

@font-face {
  font-family: 'NewAldyFont-type1';
  src: url('./assets/fonts/Fontspring-DEMO-bsp56-iF66826cf202f8f.otf') format('truetype');
}

@font-face {
  font-family: 'NewAldyFont-type2';
  src: url('./assets/fonts/Fontspring-DEMO-bsp55-iF66826cf1f3973.otf') format('truetype');
}

@font-face {
  font-family: 'NewAldyFont-type3';
  src: url('./assets/fonts/Fontspring-DEMO-bsd76-iF66826cf1f0050.otf') format('truetype');
}

@font-face {
  font-family: 'NewAldyFont-type4';
  src:url('./assets/fonts/fonnts.com-Runda_Light.otf') format('truetype');
}

@font-face {
  font-family: 'accent-aldy';
  src: url('./assets/fonts/freight-big-pro-light-regular.ttf') format('truetype');
}

/* =========================
   FONT CLASSES
========================= */
.NewAldyTitle { font-family: 'NewAldyFont', sans-serif; }
.NewAldyTitleCursive { font-family: 'NewAldyFontCursive'; }
.NewAldyFontType1 { font-family: 'NewAldyFont-type1'; }
.NewAldyFontType2 { font-family: 'NewAldyFont-type2'; }
.NewAldyFontType3 { font-family: 'NewAldyFont-type3'; }
.NewAldyFontType4 { font-family: 'NewAldyFont-type4'; }
.NewAldyFontTypeAccent { font-family: 'accent-aldy'; }
.cursiveTitle { font-family: 'Great Vibes', cursive; }



/* =========================
   CUSTOM SCROLLBAR (GLOBAL)
========================= */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-aldy-medium) transparent;
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* invisible track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* SOLO RECTÁNGULO */
::-webkit-scrollbar-thumb {
  background: var(--color-aldy-medium);
  border-radius: 0px; /* rectángulo puro */
}

/* hover un poquito más oscuro */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-aldy-medium-2);
}

/* =========================
   SMOOTH SCROLL WRAPPER
========================= */
#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
}